// --------------------------------------------------
// VARIABLES
// --------------------------------------------------



// :: Typography using compass Vertical Rhythm
// ------------------------------------------------------------
// http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size						: 18px;
$base-line-height					: 22px;
$bru								: rhythm();
$phi								: 1.6180339887;
$Phi								: 0.6180339887;
$round-to-nearest-half-line			: true;



// :: Image Path
// ------------------------------------------------------------

$img_path							: unquote("img");



// :: Sprites
// ------------------------------------------------------------

$sprites							: sprite-map("sprites/*.png", $spacing: 6px);
$sprites2x							: sprite-map("sprites-retina/*.png", $spacing: 12px);
$experimental-support-for-svg		: true;



// :: Colours
// ------------------------------------------------------------

$black								: rgb(0, 0, 0) !default;
$white								: rgb(255,255,255) !default;
$color								: #E5E5E5 !default;

$selected-background-color			: $color;
$selected-font-color				: $black;



// :: Fonts
// ------------------------------------------------------------

$base-ff: "my-font", Helvetica, Arial, sans-serif !default;



// :: Breakpoints
// ------------------------------------------------------------

$a-vp								: 950px;
$b-vp								: 750px;
$c-vp								: 500px;

$max-vp 							: 1300px;

//$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
