{% extends "admin.html" %}
{% block title %}
    edit images
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>Add an image</h3>
  {% include 'admin/image/form.html' %}
  <br>
  <h3>edit images</h3>
    <div class="panel-group" id="artist-accordion" role="tablist" aria-multiselectable="true">
      {% for artist in artists %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="artist-panel-heading-{{ artist.slug }}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#artist-accordion" aria-expanded="false" href="#artist-panel-{{ artist.slug }}" aria-controls="artist-panel-{{ artist.slug }}">
              {{ artist.name }}
            </a>
          </h4>
        </div>
        <div id="artist-panel-{{ artist.slug }}" class="panel-collapse collapse" role="tabpanel"  aria-labelledby="artist-panel-heading-{{ artist.slug }}">
          <ul class="list-group">
            {% for image in artist['images'] %}
            <li class="list-group-item clearfix">
              <div class="row">
                <div class="col-xs-8">
                  <div class="media">
                    <div class="media-left">
                      <a><img class="media-object" style="width: 120px; height: auto;" src="/{{ image.path }}"></a>
                    </div>
                    <div class="media-body">
                      <code>{{image.stock_number}}</code>
                      <b>{{image.title}}</b>, {{image.year}}<br>
                      {{image.medium}}<br>
                      {{image.dimensions}}<br>
                    </div>
                  </div>
                </div>
                <br />
                <div class="col-xs-4 text-right">
                  <a class="btn btn-primary btn-sm" href="/admin/image/update/{{ image._id }}">update image data</a>
                  <a class="btn btn-danger btn-sm" href="/admin/image/delete/{{ image._id }}">delete</a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

#{% for image in images %}
#    <li class="list-group-item row">
#      <div class="col-xs-8">
#        <div class="media">
#          <div class="media-left">
#            <a>
#              <img class="media-object" style="width: 120px; height: auto;" src="/{{ image.path }}" alt="...">
#            </a>
#          </div>
#          <div class="media-body">
#            <code>{{image.stock_number}}</code>
#            <h4 class="media-heading">{{ image.artist.name }}</h4>
#            <b>{{image.title}}</b>, {{image.year}}<br>
#            {{image.medium}}<br>
#            {{image.dimensions}}<br>
#          </div>
#        </div>
#      </div>
#      <div class="col-xs-4 text-right">
#          <a class="btn btn-primary btn-sm" href="/admin/image/update/{{ image._id }}">update image data</a>
#          <a class="btn btn-danger btn-sm" href="/admin/image/delete/{{ image._id }}">delete</a>
#      </div>
#    </li>
#{% endfor %}
