// ------------------------------------------------------------
// Navigation Styles
// ------------------------------------------------------------

header{
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 90px;
	@include mq(2){
		margin-bottom: 70px;
		margin-top: 0;
	}
	@include mq(3){
		margin-bottom: 50px;
		margin-top: 0;
	}
}

#logo{
	width: 280px;
	//width: 400px;
	//width: 260px;
	height: auto;
	float: left;
	@include mq(2){
		margin-top: 30px;
	}
	@include mq(3){
		width: 220px;
		margin-top: 20px;
	}
}

nav{
	float: right;
	margin-top: 3px;
	@include mq(2){
		width: 100%;
		border-bottom: 1px solid gray;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	ul{height: 30px;
		@include mq(2){
			height: auto;
		}
	}
	li{
		display: inline;
		@include adjust-font-size-to(15px);
		letter-spacing: 1px;
		margin-right: 25px;
		color: $body-color;
		@include mq(1){
			@include adjust-font-size-to(14px);
			margin-right: 20px;
		}
		@include mq(2){
			display: block;
			margin-bottom: 10px;
		}
		&:last-of-type{
			margin-right: 0;
		}
		a{
			color: $body-color;
		}
		a:hover{
			border-bottom: 1px solid;
			padding-bottom: 6px;
			color: $body-color;
		}
		.selected{
			border-bottom: 1px solid;
			padding-bottom: 6px;
			&:hover{
				border-bottom: 1px dotted;
			}
		}
	}
}

//  R E S P O N S I V E  N A V
// ------------------------------------------------------------


.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px !important;
}

.js .nav-collapse-0.opened{
	max-height: 999999px !important;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  margin-top: 20px;
  float:right;
  width: 40px;
  height: 30px;
  padding: 15px 2px 5px 20px;
  background: url("/assets/icons/hamburger.svg") no-repeat right top;
}


.nav-collapse.closed{
	position: relative !important;
	padding: 0;
	border-bottom: none;
}


a#nav-toggle {
	@include link-active-styles {
		background-color: transparent;
		opacity: 0.4;
	}
}

.nav-toggle.active{
	opacity: 0.8;
	border-bottom: none;
}

@media screen and (min-width: $rglr-vp) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}




