// ------------------------------------------------------------
// Single Styles
// ------------------------------------------------------------

section{
	width: 100%;
	display: inline-block;
}


.wrapper{
	width: 80%;
	float: left;
	display: inline-block;
	@include mq(1){
		width: 75%;
	}
	@include mq(3){
		width: 100%;
	}
}

.wrapper.hundred{
	width: 100%;
}

.title{
	margin-bottom: 0;
	@include mq(3){
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 0;
	}
}

.title__artist{
	@extend .font-bold;
	@include adjust-font-size-to(18px);
	text-transform: lowercase;
}

.title__exhibition{
	@include adjust-font-size-to(16px);
	text-transform: lowercase;
}

.title__date{
	@extend .font-var;
}

.exhibition-list .single-exhibition .past-exhibition__text .title__dash, .past-exhibition__text .title__dash{
	@extend .font-var;
	margin-top: -4px;
	margin-bottom: -2px;
}

#container{
	width: 100%;
}

.nav-container{
	margin-top: 20px;
	width: 17.5%;
	float: right;
	@extend .font-var;
	@include adjust-font-size-to(13px);
	text-transform: uppercase;
	text-align: right;
	border-top: 1px dashed grey;
	padding-top: 10px;
	@include mq(1){
		width: 21%
	}
	@include mq(3){
		width: 100%;
		text-align: left;
		margin-top: 0;
		border-bottom: 1px dashed grey;
		padding-bottom: 10px;
		background-color: white;
		li{
			display: inline;
			margin-right: 15px;
		}
	}
	li {
		margin-bottom: 3px;
		a{
		@include mq(3){padding-bottom: 3px;}
		&:hover{
			color: $body-color;
			@include mq(3){
				border-bottom: 1px solid black;
			}
			&:before{
				content:"→ ";
				@include mq(3){
					content:"";
				}
			}
		}
		}
	}
}

.nav-container.is_stuck{
	@include mq(3){
		border-top: none;
	}
}

.active{
	color: $body-color;
	@include mq(3){
		border-bottom: 1px solid black;
	}
	&:before{
		content:"→ ";
		@include mq(3){content:"";}
	}
}

.f-nav{
	position: fixed; 
	margin-top: 0px;
	right: 0;
}

.image-grid{
	width: 100%;
	display: inline-table;
	@include mq(3){
		padding-top: 30px;
	}
		img, .grid-sizer{
		width: 23.125%;
		margin-right: 2.5%; 
		margin-bottom: 2.5%;
		float: left;
		height: auto;
		&:nth-of-type(4n+4){
			margin-right: 0;
		}
		&:nth-of-type(4n+5){
				clear: left;
		}
		@include mq(1){
			width: 32%;
			margin-right: 2%;
			&:nth-of-type(4n+4){
			margin-right: 2%;
		}
		&:nth-of-type(4n+5){
				clear: none;
		}
			&:nth-of-type(3n+3){
			margin-right: 0;
		}
		&:nth-of-type(3n+4){
				clear: left;
		}
		}
		@include mq(3){
			width: 48.5%;
			margin-right: 3%;
			&:nth-of-type(n){
			margin-right: 3%;
		}
			&:nth-of-type(2n+2){
			margin-right: 0;
		}
		&:nth-of-type(3n+4){
				clear: none;
		}
		&:nth-of-type(2n+3){
				clear: left;
		}
		}

	}	
}



.separation-rule{
	display: inline-block;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.4);
	padding-top: 22px;
	margin-top: 20px;
}

.presentation{
	display: inline-table;
	h2{
		@include adjust-font-size-to(11px);
		width: 20%;
		float: left;
		@extend .font-var;
		text-transform: uppercase;
		@include mq(1){
			width: 32%;
		}
		@include mq(2){
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.presentation__text{
		width: 75%;
		float: right;
		line-height: 1.5;
		@include mq(0){
			width: 50%;
			margin-right: 25%;
		}
		@include mq(1){
			width: 66%;
			margin-right: 0;
		}
		@include mq(2){
			width: 100%;
		}
	}
	.presentation__text.dl{
		@extend .font-bold;
		margin-bottom: 5px;
		a {
		padding-bottom: 3px;
		&:hover{
			color: black;
			opacity: 0.4;
			border-bottom: 1px solid black;
			@include _transition;
		}
		}
	}
}

.past-exhibition{
	border-top: 1px solid gray;
	padding-top: 25px;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	.past-exhibition-single, a .past-exhibition-single{
	width: 48.125%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	display: inline-table;
	&:hover{
		opacity: 0.6;
	}
	&:nth-of-type(2n+2){
			margin-right: 0;
		}
	img{
		width: 48.125%;
		margin-right: 2.5%;
		float: left;
		@include mq(3){
			display: none;
		}
	}
	.past-exhibition__text, a .past-exhibition{
		width: 48.125%;
		float: left;
		color: black;
		.title__exhibition{
			@extend .font-bold;
			margin-bottom: 0;
			
		}
		.title__date{
			@extend .font-var;
		}
	}
	@include mq(1){
		width: 100%;
		margin-right: 0;
		img{
			width: 32%;
			margin-right: 4%;
		}
		.past-exhibition__text{
			width: 64%
		}
	}
	}
}

.image-grid.artist{
	width: 100%;
	border-top:none;
	padding-top: 0;
	.single-artist{
		width: 18.4%;
		margin-bottom: 1%;
		margin-right: 2%;
		float: left;
		&:hover{
			opacity: 0.7;
			@include _transition;
		}
		&:nth-of-type(5n+4){
			margin-right: 0;
		}
		&:nth-of-type(5n+5){
				clear: left;
			}
		@include mq(1){
			width: 23.5%;
			&:nth-of-type(1n+1){
				margin-right: 2%;
			}
			&:nth-of-type(5n+5){
				clear: none;
			}
			&:nth-of-type(4n+3){
				margin-right: 0;
			}
			&:nth-of-type(4n+4){
				clear: left;
			}
		}
		@include mq(3){
			width: 100%;
			margin-right: 0;
			@include adjust-font-size-to(22px);
			 font-family: 'rj_bold', Helvetica, Arial, sans-serif;
			 margin-bottom: 0;
		}
		img{
			width:100%;
			float: left;
			@include mq(3){
				display: none;
			}
		}
		p{
		margin-top: 8px;
		text-align: center;
		width: 100%;
		float:left;
		color: $body-color;
		@include mq(3){
			text-align: left;
			margin-top: 3px;
			
		}
		}
	}
}

.minus-margin{
	margin-top: -20px;
}



.exhibition-list{
	width:100%;
	&:first-of-type{
		@include mq(3){
			padding-top: 30px;
		}
	}
	.single-exhibition{
		width: 100%;
		display: inline-table;
		margin-bottom: 2%;
		@include mq(3){
				margin-bottom: 4%;
		}
		img{
			width: 23.125%;
			margin-right: 2%;
			float: left;
			@include mq(1){
				width: 32%;
				margin-right: 4%;
			}
			@include mq(3){
				display: none;
			}
		}
		.past-exhibition__text, a .past-exhibition__text{
			float: left;
			display: block;
			max-width: 73%;
			color: black;
			@include mq(1){
			max-width: 48%;
			}
			@include mq(3){
			max-width: 100%;
			padding-right: 5%;
			}
			p{
				margin-bottom: 0;
			}
		}
		.title__artist{
			@extend .font-bold;
			@include adjust-font-size-to(18px);
		}
	}
}

a .single-exhibition{
	&:hover{
		opacity: 0.6;	
	}
}


.exhibition-list.no-image{
	.single-exhibition{
		margin-bottom: 25px;
	}
}

.homepage_exhibition{
	width:49%;
	float: left;
	margin-right: 2%;
	@include mq(3){
		width: 100%;
		margin-right: 0;
	}
	&:last-of-type{
		margin-right: 0;
		@include mq(3){
			margin-top: 30px;
		}
	}
	p{
		margin-bottom: 0;
	}
	.title__group{
		margin-top: 10px;
	}
	img{
		width: 100%;
		height: auto;
		position: relative;
	}
}

.scroll-box{
	height: 21px;
	float: left;
	width: 80%;
}

.separation-rule.not-mobile{
	@include mq(3){
		display: none;
	}
}

.full-width{
	width: 100%;
	display: inline-table;
	margin-bottom: 10px;
	p{
		line-height: 1.4;
	}
	a{
		color: rgb(100,100,100);
	}
}

.contact {
	width: 57.5%;
	float: left;
	margin-right: 2.5%;
	border-top: 1px solid gray;
	padding-top: 25px;
	display: inline-block;
	@include mq(1){
		width: 48.75%;
		margin-right: 1.25%;
		clear: both;
	}
	@include mq(2){
		width: 100%;
		clear: both;
	}
	.presentation__text{
		width: 70%;
		float: left;
		@include mq(3){
			width: 100%;
		}

	}
	h2{
		@include adjust-font-size-to(11px);
		width: 30%;
		float: left;
		@extend .font-var;
		text-transform: uppercase;
		@include mq(1){
			width: 32%;
			margin-bottom: 5px;
		}
		@include mq(3){
			width: 100%;
			margin-bottom: 5px;
		}
	}

}

.mails {
	width: 40%;
	border-top: 1px solid gray;
	padding-top: 25px;
	display: inline-block;
	@include mq(1){
		width: 48.75%;
	}
		@include mq(2){
		width: 100%;
		clear: both;
	}
}

.var {
	@extend .font-var;
	margin-top: -1px;
	margin-bottom: 18px;
	a {
		color: rgb(100,100,100);
	}
}

.title{
	@extend .font-body;
}

input{
	font-size: 12px;
	@extend .font-body;
	width: 38%;
	&:focus{
		outline-style: solid;
		outline-width: 2px;
		outline-color: rgb(200, 200, 200);
	}
}

.btn{
	font-size: 12px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 0;
	@extend .font-body;
}

#info_menu{
	&:after{
		content:"informations";
		@include mq(3){
			content:"infos";
		}
	}
}

.presentation__wrap{
	display: inline-table;
	width: 100%;
	margin-bottom: 15px;
	&:last-of-type{
		margin-bottom: 0;
	}
}

a{
.monospaced{
	@extend .font-var;
	font-weight: normal;
}}

.group_artist--col{
	width: 100%;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	@extend .font-bold;
	@include adjust-font-size-to(18px);
	@include mq(1){
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	}
	@include mq(2){
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	}
	a{
		&:after{
			content: " •";
			margin-left: 5px;
		}
	}
}