{% block title %}
    image form
{% endblock %}

{% block body %}
  {% from "helpers/_form.html" import render_field, render_datepicker %}
  <form method="post" enctype="multipart/form-data" action="/admin/edit-image/{{ teamMemberId }}">
      {{ form.csrf_token }}
      {{ render_field(form.artist) }}
      {{ render_field(form.image_file) }}
      {{ render_field(form.title_and_year) }}
      {{ render_field(form.medium) }}
      {{ render_field(form.dimensions) }}
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
