{% extends "admin.html" %}
{% block title %}
    edit images
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>add images</h3>
  {% include 'admin/images/form.html' %}
  <br>
  {% include 'helpers/_flashMessage.html' %}

  <h3>edit images</h3>
    <ul class="list-group">
        {% for image in images %}
            <li class="list-group-item row">
              <div class="col-xs-8">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" style="width: 120px; height: 120px;" src="/{{ image.path }}" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ image.artist.name }}</h4>
                    <b>{{image.title}}</b>, {{image.year}}<br>
                    {{image.medium}}<br>
                    {{image.dimensions}}<br>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 text-right">
                  <a class="btn btn-primary btn-sm" href="/admin/update-image/{{ image._id }}">update image data</a>
                  <a class="btn btn-danger btn-sm" href="/admin/delete-image/{{ image._id }}">delete</a>
              </div>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
