html, body, div, span, applet, object, iframe,
h1, h2, .homepage-exhibition__text--dash, h3, h4, h5, .text-block h1, .download-block h1, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Maax-Regular";
  src: url('../fonts/205-MaaxStandardReg/205-maaxstandardregular-webfont.eot');
  src: url('../fonts/205-MaaxStandardReg/205-maaxstandardregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/205-MaaxStandardReg/205-maaxstandardregular-webfont.woff') format('woff'), url('../fonts/205-MaaxStandardReg/205-maaxstandardregular-webfont.ttf') format('truetype'), url('../fonts/205-MaaxStandardReg/205-maaxstandardregular-webfont.svg') format('svg'); }
@font-face {
  font-family: "Maax-Medium";
  src: url('../fonts/205-MaaxStandardMedium/205-maaxstandardmedium-webfont.eot');
  src: url('../fonts/205-MaaxStandardMedium/205-maaxstandardmedium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/205-MaaxStandardMedium/205-maaxstandardmedium-webfont.woff') format('woff'), url('../fonts/205-MaaxStandardMedium/205-maaxstandardmedium-webfont.ttf') format('truetype'), url('../fonts/205-MaaxStandardMedium/205-maaxstandardmedium-webfont.svg') format('svg');
  font-weight: "bold"; }
.font-body, body, .subnav ul li a.points-to:before, .subnav ul li a:hover:before, .newsletter input, .newsletter button.newsletter__button {
  font-family: "Maax-Regular", Helvetica, sans-serif; }

.font-bold, h1, h3, .text-block h2, .text-block .homepage-exhibition__text--dash, .group-exhibition-artists p, .homepage-exhibition__landing--center p {
  font-family: "Maax-Medium", Helvetica, sans-serif; }

.font-mono, h4, h5, .text-block h1, .download-block h1, h6, .subnav, .staff_member__mail, .colophon p, #imagelightbox-close, .imagelightbox-arrow, #slider-text-box p {
  font-family: "RJ Maax Mono", monospace; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 501px) and (max-width: 950px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 0) and (max-width: 500px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

@media (min-width: 951px) {
  .col5__span1of1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 951px) {
  .col5__span1of2 {
    width: 47.61905%;
    float: left;
    margin-right: 4.7619%; } }
@media (min-width: 951px) {
  .col5__span2of2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 951px) {
  .col5__span1of3, .gallery__left .text-block h5, .gallery__left .text-block h1 {
    width: 31.25%;
    float: left;
    margin-right: 3.125%; } }
@media (min-width: 951px) {
  .col5__span2of3, .gallery__left .text-block p, .newsletter {
    width: 65.625%;
    float: left;
    margin-right: 3.125%; } }
@media (min-width: 951px) {
  .col5__span3of3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 951px) {
  .col5__span1of4, .text-block h1, .download-block h1, .image-block {
    width: 23.25581%;
    float: left;
    margin-right: 2.32558%; } }
@media (min-width: 951px) {
  .col5__span2of4 {
    width: 48.83721%;
    float: left;
    margin-right: 2.32558%; } }
@media (min-width: 951px) {
  .col5__span3of4, .text-block h2, .text-block .homepage-exhibition__text--dash, .text-block p, #collapse-button, .download-block__text {
    width: 74.4186%;
    float: left;
    margin-right: 2.32558%; } }
@media (min-width: 951px) {
  .col5__span4of4, .subcontent__all-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 951px) {
  .col5__span1of5, .subnav, .exhibition-block__image, .artist-block {
    width: 18.51852%;
    float: left;
    margin-right: 1.85185%; } }
@media (min-width: 951px) {
  .col5__span2of5, .gallery__right {
    width: 38.88889%;
    float: left;
    margin-right: 1.85185%; } }
@media (min-width: 951px) {
  .col5__span3of5, .gallery__left {
    width: 59.25926%;
    float: left;
    margin-right: 1.85185%; } }
@media (min-width: 951px) {
  .col5__span4of5, .subcontent {
    width: 79.62963%;
    float: left;
    margin-right: 1.85185%; } }
@media (min-width: 951px) {
  .col5__span5of5, .all-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span1of1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span1of2 {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span2of2, .gallery__left .text-block h5, .gallery__left .text-block h1, .gallery__left .text-block p, .newsletter {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span1of3, .text-block h1, .download-block h1, .image-block {
    width: 30.76923%;
    float: left;
    margin-right: 3.84615%; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span2of3, .text-block h2, .text-block .homepage-exhibition__text--dash, .text-block p, #collapse-button, .download-block__text {
    width: 65.38462%;
    float: left;
    margin-right: 3.84615%; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span3of3, .subcontent__all-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span1of4, .subnav, .exhibition-block__image, .artist-block {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span2of4, .gallery__left, .gallery__right, .homepage-exhibition {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span3of4, .subcontent {
    width: 74.28571%;
    float: left;
    margin-right: 2.85714%; } }
@media (min-width: 501px) and (max-width: 950px) {
  .col4__span4of4, .all-col {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 0) and (max-width: 500px) {
  .col2__span1of1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 0) and (max-width: 500px) {
  .col2__span1of2, .image-block {
    width: 48%;
    float: left;
    margin-right: 4.0%; } }
@media (min-width: 0) and (max-width: 500px) {
  .col2__span2of2, .all-col, .subcontent, .subcontent__all-col, .text-block h1, .text-block h2, .text-block .homepage-exhibition__text--dash, .text-block p, #collapse-button, .download-block h1, .download-block__text, .subnav, .artist-block, .gallery__left, .gallery__right, .gallery__left .text-block h5, .gallery__left .text-block h1, .gallery__left .text-block p, .newsletter, .homepage-exhibition {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
.last, .text-block h2, .text-block .homepage-exhibition__text--dash, .text-block p, #collapse-button, .download-block__text, .subnav {
  float: right;
  margin-right: 0; }

* *, * *:before, * *:after, *:before *, *:before *:before, *:before *:after, *:after *, *:after *:before, *:after *:after, input[type='search'] *, input[type='search'] *:before, input[type='search'] *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 81.25%;
  line-height: 1.46154em; }

body, html {
  position: relative;
  height: 100%;
  color: #323232;
  background-color: white; }

body {
  margin: 0;
  width: 100%;
  min-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  font-style: normal;
  line-height: inherit;
  font-size: 1em;
  line-height: 1.46154em; }

.chromeframe {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: red;
  color: white; }

.wrapper {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: hidden;
  *zoom: 1; }
  @media only screen and (max-width: 950px) {
    .wrapper {
      width: 94%; } }
  @media only screen and (max-width: 750px) {
    .wrapper {
      width: 92%; } }
  @media only screen and (max-width: 500px) {
    .wrapper {
      width: 88%; } }

.subcontent {
  margin-right: 0; }

@media only screen and (max-width: 500px) {
  .not-mobile, .exhibitions-page:first-of-type .separation-rule.year:first-of-type, .exhibitions-page:first-of-type .year.subnav:first-of-type {
    display: none; } }

.no-margin-top {
  margin-top: -22px; }

.separation-rule, .subnav {
  border-top: 1px solid #7a7a7a;
  margin-top: 22px;
  padding-top: 20px; }
  .separation-rule.light-border, .light-border.subnav {
    border-top-color: #c8c8c8; }

h1 {
  font-size: 1.38462em;
  line-height: 1.58333em; }

h2, .homepage-exhibition__text--dash {
  font-size: 1.23077em;
  line-height: 1.78125em;
  margin-top: -4px; }

h3 {
  font-size: 1em;
  line-height: 1.46154em; }

h4, h5, .text-block h1, .download-block h1, h6 {
  text-transform: uppercase; }

h4 {
  font-size: 1em;
  line-height: 1.46154em;
  margin-top: -1px; }

h5, .text-block h1, .download-block h1 {
  font-size: 0.84615em;
  line-height: 1.72727em;
  margin-bottom: 6px; }

a {
  color: #323232;
  text-decoration: none; }
  a:visited, a:active, a:hover {
    color: #323232; }
  a:active {
    opacity: 0.6; }
  .no-touch a[href^='tel:'] {
    text-decoration: none !important;
    cursor: default; }

::selection {
  background: #f0f0f0; }

::-moz-selection {
  background: #f0f0f0; }

a:focus {
  outline: none; }

.text-block {
  margin-bottom: 20px; }
  .text-block h1 {
    clear: both; }
    @media only screen and (max-width: 750px) {
      .text-block h1 {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
  .text-block h2, .text-block .homepage-exhibition__text--dash {
    font-size: 0.84615em;
    line-height: 1.72727em;
    margin-bottom: 6.66667px;
    margin-top: 11px; }
    @media only screen and (max-width: 750px) {
      .text-block h2, .text-block .homepage-exhibition__text--dash {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    .text-block h2:first-of-type, .text-block .homepage-exhibition__text--dash:first-of-type {
      margin-top: 0; }
      @media only screen and (max-width: 750px) {
        .text-block h2:first-of-type, .text-block .homepage-exhibition__text--dash:first-of-type {
          margin-top: 11px; } }
  .text-block i, .text-block em {
    font-style: italic; }
  .text-block b {
    font-weight: bold; }
  .text-block.artist-bio-text p {
    margin-bottom: 0; }
  .text-block.artist-exhibition-list {
    max-height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px; }
    .text-block.artist-exhibition-list h1 {
      margin-top: 22px; }
      .text-block.artist-exhibition-list h1 + h2, .text-block.artist-exhibition-list h1 + .homepage-exhibition__text--dash, .text-block.artist-exhibition-list h1 + p {
        margin-top: 22px; }
        @media only screen and (max-width: 750px) {
          .text-block.artist-exhibition-list h1 + h2, .text-block.artist-exhibition-list h1 + .homepage-exhibition__text--dash, .text-block.artist-exhibition-list h1 + p {
            margin-top: 0; } }
      .text-block.artist-exhibition-list h1:first-of-type, .text-block.artist-exhibition-list h1:first-of-type + h2, .text-block.artist-exhibition-list h1:first-of-type + .homepage-exhibition__text--dash {
        margin-top: 0; }
    .text-block.artist-exhibition-list .bottom-gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
      background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
      background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
      height: 50px; }
    .text-block.artist-exhibition-list.list-open {
      max-height: none; }
      .text-block.artist-exhibition-list.list-open .bottom-gradient {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); }
    .text-block.artist-exhibition-list p {
      margin-bottom: 0;
      padding-left: 25px; }
      .text-block.artist-exhibition-list p:before {
        content: "\2014 ";
        width: 25px;
        margin-right: 14px;
        margin-left: -25px; }
  .text-block p {
    margin-bottom: 10px; }
    @media only screen and (max-width: 750px) {
      .text-block p {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    .text-block p:last-of-type {
      margin-bottom: 0; }
    .text-block p a {
      border-bottom: 1px solid #323232;
      padding-bottom: 1px; }
      .text-block p a:hover {
        opacity: 0.4;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out;
        -webkit-transition-delay: 0s;
        transition: all 0.2s ease-in-out 0s; }

@media only screen and (max-width: 750px) {
  #collapse-button {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
#collapse-button a {
  border-bottom: 1px solid transparent;
  display: inline-block; }
  #collapse-button a:before {
    content: "Click to expand and read more"; }
  #collapse-button a.list-open:before {
    content: "Click to collapse"; }
  #collapse-button a:hover {
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s;
    border-bottom-color: #323232; }

.download-block {
  margin-bottom: 20px; }
  .download-block h3 {
    display: inline-block; }
  .download-block__details {
    display: inline;
    margin-left: 8px; }
  .download-block a {
    border-bottom: 1px solid transparent;
    display: inline-block; }
    .download-block a:hover {
      opacity: 0.4;
      -moz-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out;
      -webkit-transition-delay: 0s;
      transition: all 0.2s ease-in-out 0s;
      border-bottom-color: #323232; }

header {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px; }
  @media only screen and (max-width: 750px) {
    header {
      margin-bottom: 70px;
      margin-top: 20px; } }
  @media only screen and (max-width: 500px) {
    header {
      margin-bottom: 40px; } }

#logo {
  width: 310px;
  height: auto;
  float: left; }
  #logo a:active {
    opacity: 1; }
  @media only screen and (max-width: 750px) {
    #logo {
      margin-top: 20px; } }
  @media only screen and (max-width: 500px) {
    #logo {
      width: 250px; } }

#logo__32, #logo__35 {
  display: none; }

nav {
  float: right;
  display: inline-block;
  margin-top: 12px; }
  nav li {
    float: left;
    display: inline;
    font-size: 1.15385em;
    line-height: 1.26667em;
    letter-spacing: 1px;
    margin-right: 30px; }
    @media only screen and (max-width: 950px) {
      nav li {
        font-size: 1.07692em;
        line-height: 1.35714em;
        margin-right: 20px; } }
    nav li:last-of-type {
      margin-right: 0px; }
    nav li a:hover, nav li.active a {
      border-bottom: 1px solid #323232;
      padding-bottom: 6px; }
    nav li.active a:hover {
      border-bottom: 1px dotted #323232; }
  @media only screen and (max-width: 750px) {
    nav {
      width: 100%;
      margin-top: 0; }
      nav ul {
        width: 100%;
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 1px solid #7a7a7a; }
        nav ul li {
          display: block;
          margin-right: 0;
          clear: both;
          padding-bottom: 10px;
          padding-right: 10px; }
          nav ul li a:hover, nav ul li.active a {
            opacity: 0.4;
            -moz-transition: all 0.2s ease-in-out 0s;
            -o-transition: all 0.2s ease-in-out 0s;
            -webkit-transition: all 0.2s ease-in-out;
            -webkit-transition-delay: 0s;
            transition: all 0.2s ease-in-out 0s;
            border-bottom: none; }
          nav ul li.active a:hover {
            border-bottom: none; } }

.nav-toggle {
  position: relative;
  margin-top: 20px;
  float: right;
  width: 40px;
  height: 30px;
  padding: 15px;
  background: url('../img/hamburger.svg') no-repeat right top; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media screen and (max-width: 750px) {
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1; } }
@media screen and (min-width: 750px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
.subnav {
  border-top-style: dashed;
  font-size: 0.76923em;
  line-height: 1.9em;
  text-transform: uppercase;
  text-align: right;
  padding-top: 10px; }
  .subnav__information:after {
    content: "information"; }
    @media only screen and (max-width: 500px) {
      .subnav__information:after {
        content: "info"; } }
  .subnav__biography:after {
    content: "biography"; }
    @media only screen and (max-width: 500px) {
      .subnav__biography:after {
        content: "bio"; } }
  @media only screen and (max-width: 500px) {
    .subnav {
      text-align: left;
      background: white;
      border-bottom: 1px solid #7a7a7a;
      border-bottom-style: dashed;
      padding-bottom: 10px;
      margin-top: 0;
      z-index: 99;
      margin-bottom: -13px; } }
  @media only screen and (max-width: 500px) {
    .subnav.is_stuck {
      border-top: none; } }
  .subnav ul li {
    margin-bottom: 0; }
    @media only screen and (max-width: 500px) {
      .subnav ul li {
        float: left;
        margin-right: 15px; }
        .subnav ul li:last-of-type {
          margin-right: 0; } }
    @media only screen and (max-width: 500px) {
      .subnav ul li a {
        padding-bottom: 3px; } }
    .subnav ul li a.points-to:before {
      content: "\2192\2002"; }
      @media only screen and (max-width: 500px) {
        .subnav ul li a.points-to:before {
          content: none; } }
    @media only screen and (max-width: 500px) {
      .subnav ul li a.points-to {
        border-bottom: 1px solid #7a7a7a; } }
    .subnav ul li a:hover:before {
      content: "\2192\2002"; }
      @media only screen and (max-width: 500px) {
        .subnav ul li a:hover:before {
          content: none; } }
    @media only screen and (max-width: 500px) {
      .subnav ul li a:hover {
        border-bottom: 1px solid #7a7a7a; } }

/* @import "partials/test"; */
.image-block {
  margin-top: 10px; }
  .image-block a {
    display: inline-block;
    width: 100%; }
  .image-block a:hover {
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }
  .image-block__inside {
    height: 0;
    width: 100%;
    padding-bottom: 67%;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  @media only screen and (min-width: 951px) {
    .image-block:nth-of-type(-n+4) {
      margin-top: 0; }
    .image-block:nth-of-type(4n) {
      float: right;
      margin-right: 0; } }
  @media only screen and (min-width: 501px) and (max-width: 950px) {
    .image-block:nth-of-type(-n+3) {
      margin-top: 0; }
    .image-block:nth-of-type(3n) {
      float: right;
      margin-right: 0; } }
  @media only screen and (min-width: 0) and (max-width: 500px) {
    .image-block:nth-of-type(-n+2) {
      margin-top: 0; }
    .image-block:nth-of-type(2n) {
      float: right;
      margin-right: 0; } }

@media only screen and (max-width: 500px) {
  .title-block {
    margin-bottom: 20px; } }

@media only screen and (max-width: 500px) {
  .margin-top-on-mobile, .exhibitions-page:first-of-type {
    padding-top: 40px; } }

.group-exhibition-artists {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 2.32558%;
  -webkit-column-gap: 2.32558%;
  column-gap: 2.32558%; }
  @media only screen and (max-width: 950px) {
    .group-exhibition-artists {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3; } }
  @media only screen and (max-width: 750px) {
    .group-exhibition-artists {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1; } }
  .group-exhibition-artists a:after {
    content: " \2022";
    margin-left: 5px; }
  .group-exhibition-artists a:hover {
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }
  .group-exhibition-artists p {
    font-size: 1.15385em;
    line-height: 1.26667em;
    line-height: 1.8; }

section.informations div:last-child {
  margin-bottom: 0; }

.exhibitions-page:first-of-type .separation-rule.year:first-of-type, .exhibitions-page:first-of-type .year.subnav:first-of-type {
  margin-top: 22px; }
.exhibitions-page .separation-rule.light-border, .exhibitions-page .light-border.subnav {
  padding-top: 20px;
  margin-top: 15px; }
  @media only screen and (max-width: 750px) {
    .exhibitions-page .separation-rule.light-border, .exhibitions-page .light-border.subnav {
      padding-top: 14px; } }
  .exhibitions-page .separation-rule.light-border.upcoming, .exhibitions-page .light-border.upcoming.subnav {
    margin-top: 22px; }

.exhibition-block h1, .exhibition-block h2, .exhibition-block .homepage-exhibition__text--dash, .exhibition-block h4 {
  display: block;
  width: inherit;
  float: left;
  clear: left; }
.exhibition-block a:hover > .exhibition-block__text, .exhibition-block a:hover > .exhibition-block__image {
  opacity: 0.4;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease-in-out 0s; }
.exhibition-block__wrap {
  width: 100%;
  display: inline-block; }
.exhibition-block__text {
  float: left; }
@media only screen and (max-width: 750px) {
  .exhibition-block__image {
    display: none; } }
.exhibition-block__inside {
  width: 100%;
  padding-bottom: 67%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.exhibition-block.upcoming {
  clear: both; }
.exhibition-block:last-of-type {
  margin-bottom: 40px; }
  .exhibition-block:last-of-type .separation-rule.light-border, .exhibition-block:last-of-type .light-border.subnav {
    display: none; }

section.exhibition-year div:last-child {
  margin-bottom: 0; }

.artist-block {
  margin-top: 20px; }
  @media only screen and (max-width: 750px) {
    .artist-block {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media only screen and (min-width: 951px) {
    .artist-block:nth-of-type(5n) {
      clear: right;
      float: right;
      margin-right: 0; }
    .artist-block:nth-of-type(-n+5) {
      margin-top: 0; } }
  @media only screen and (min-width: 501px) and (max-width: 950px) {
    .artist-block:nth-of-type(4n) {
      clear: right;
      float: right;
      margin-right: 0; }
    .artist-block:nth-of-type(-n+4) {
      margin-top: 0; } }
  @media only screen and (max-width: 750px) {
    .artist-block {
      margin-top: 5px; }
      .artist-block:nth-of-type(n) {
        margin-top: 5px; }
      .artist-block:first-of-type {
        margin-top: 0; } }
  .artist-block a {
    display: inline-block;
    width: 100%; }
  .artist-block a:hover {
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }
  .artist-block__image {
    width: 100%;
    padding-bottom: 67%;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (max-width: 750px) {
      .artist-block__image {
        display: none; } }
  .artist-block p {
    margin-top: 8px; }
    @media only screen and (max-width: 750px) {
      .artist-block p {
        font-size: 1.38462em;
        line-height: 1.58333em;
        font-family: "Maax-Medium", Helvetica, sans-serif;
        margin-top: 0; } }

@media only screen and (max-width: 750px) {
  .gallery__left {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }

.gallery__right {
  float: right;
  margin-right: 0; }
  @media only screen and (max-width: 750px) {
    .gallery__right {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

@media only screen and (max-width: 750px) {
  .gallery__left .text-block h5, .gallery__left .text-block h1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
.gallery__left .text-block p {
  float: right;
  margin-right: 0; }
  @media only screen and (max-width: 750px) {
    .gallery__left .text-block p {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
.gallery__left .text-block a {
  color: #7a7a7a;
  border-bottom: none; }

.staff_member {
  margin-bottom: 20px; }
  .staff_member h3 {
    display: inline; }
  .staff_member__title {
    display: inline; }
  .staff_member__mail {
    font-size: 1em;
    line-height: 1.46154em; }
    .staff_member__mail a {
      color: #7a7a7a; }
      .staff_member__mail a:hover {
        opacity: 0.4;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out;
        -webkit-transition-delay: 0s;
        transition: all 0.2s ease-in-out 0s; }

.newsletter {
  float: right;
  margin-right: 0; }
  @media only screen and (min-width: 501px) and (max-width: 750px) {
    .newsletter {
      width: 74.4186%;
      float: left;
      margin-right: 2.32558%;
      margin-left: 0; } }
  .newsletter input {
    font-size: 1em;
    line-height: 1.46154em;
    width: 39%;
    padding: 1px;
    margin: 0;
    margin-right: 1%; }
    .newsletter input:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #c8c8c8; }
  .newsletter button.newsletter__button {
    font-size: 1em;
    line-height: 1.46154em;
    width: 39%;
    cursor: pointer;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 0;
    width: 20%;
    margin-right: 0;
    padding: 2px; }
    .newsletter button.newsletter__button:focus {
      outline-width: 0;
      border-color: #c8c8c8; }
    .newsletter button.newsletter__button:hover {
      opacity: 0.4; }

.social_media_icon {
  margin-right: 14px;
  opacity: 0.9;
  width: 18px; }
  .social_media_icon:hover {
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }
  .social_media_icon img {
    width: 18px; }

.social_media_title {
  padding-top: 2px; }
  @media only screen and (max-width: 750px) {
    .social_media_title {
      padding-top: 0; } }

.colophon {
  margin-top: 60px;
  margin-bottom: -20px; }
  .colophon p {
    font-size: 0.76923em;
    line-height: 1.9em;
    color: #c8c8c8;
    margin-bottom: -1px; }
    .colophon p a {
      color: #c8c8c8; }
      .colophon p a:hover {
        color: #7a7a7a; }

#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none; }

#imagelightbox-overlay {
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#imagelightbox-close {
  font-size: 1em;
  line-height: 1.46154em;
  text-align: right;
  position: fixed;
  z-index: 10002;
  top: 15px;
  right: 15px; }
  #imagelightbox-close:hover {
    cursor: pointer;
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }

.imagelightbox-arrow {
  width: 15%;
  display: none;
  position: fixed;
  z-index: 10001;
  bottom: 0;
  font-size: 1em;
  line-height: 1.46154em; }
  .imagelightbox-arrow p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 5px; }
  .imagelightbox-arrow:hover {
    cursor: pointer;
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }
  @media only screen and (max-width: 950px) {
    .imagelightbox-arrow {
      width: 25%; } }
  @media only screen and (max-width: 500px) {
    .imagelightbox-arrow {
      display: none !important; } }

.imagelightbox-arrow-right {
  right: 0;
  padding-right: 15px;
  text-align: right; }

.imagelightbox-arrow-left {
  left: 0;
  padding-left: 15px; }

#slider-text-box {
  min-height: 40px;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  border-top: 1px solid #7a7a7a; }
  @media only screen and (max-width: 950px) {
    #slider-text-box {
      min-height: 74px; } }
  @media only screen and (max-width: 500px) {
    #slider-text-box {
      min-height: 93px; } }
  #slider-text-box #imagelightbox-caption {
    text-align: center;
    z-index: 10001;
    margin-left: 15%;
    margin-right: 15%;
    bottom: 0;
    width: 70%;
    padding: 8px; }
    @media only screen and (max-width: 950px) {
      #slider-text-box #imagelightbox-caption {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%; } }
    @media only screen and (max-width: 500px) {
      #slider-text-box #imagelightbox-caption {
        width: 80%;
        margin: 0 10%;
        text-align: left; } }
  #slider-text-box p {
    display: inline-block;
    color: black;
    white-space: nowrap; }
    #slider-text-box p:after {
      content: "\00a0/\00a0"; }
    #slider-text-box p:last-of-type:after {
      content: none; }

@media only screen and (min-width: 951px) {
  .homepage-exhibition {
    width: 49.23077%;
    margin-right: 1.53846%;
    float: left; } }
@media only screen and (max-width: 500px) {
  .homepage-exhibition {
    margin-bottom: 40px; } }
.homepage-exhibition:nth-of-type(2) {
  float: right;
  margin-right: 0; }
.homepage-exhibition__landing {
  height: 0;
  width: 100%;
  padding-bottom: 67%;
  background-color: #f0f0f0;
  position: relative; }
  .homepage-exhibition__landing--text {
    position: absolute;
    width: 100%;
    height: 100%; }
  .homepage-exhibition__landing--center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .homepage-exhibition__landing--center p {
      text-align: center;
      font-size: 1.92308em;
      line-height: 1.52em; }
      @media only screen and (max-width: 950px) {
        .homepage-exhibition__landing--center p {
          font-size: 1.53846em;
          line-height: 1.425em; } }
      @media only screen and (max-width: 750px) {
        .homepage-exhibition__landing--center p {
          font-size: 1.30769em;
          line-height: 1.67647em; } }
      @media only screen and (max-width: 500px) {
        .homepage-exhibition__landing--center p {
          font-size: 1.53846em;
          line-height: 1.425em; } }
    .homepage-exhibition__landing--center h4 {
      text-align: center; }
      @media only screen and (max-width: 950px) {
        .homepage-exhibition__landing--center h4 {
          font-size: 0.84615em;
          line-height: 1.72727em; } }
      @media only screen and (max-width: 750px) {
        .homepage-exhibition__landing--center h4 {
          font-size: 0.76923em;
          line-height: 1.9em; } }
      @media only screen and (max-width: 500px) {
        .homepage-exhibition__landing--center h4 {
          font-size: 0.84615em;
          line-height: 1.72727em; } }
.homepage-exhibition__inside {
  height: 0;
  width: 100%;
  padding-bottom: 67%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.homepage-exhibition__text {
  margin-top: 20px;
  display: inline-block; }
  .homepage-exhibition__text h5, .homepage-exhibition__text .text-block h1, .text-block .homepage-exhibition__text h1, .homepage-exhibition__text .download-block h1, .download-block .homepage-exhibition__text h1 {
    margin-bottom: 0; }
  .homepage-exhibition__text--dash {
    margin-top: -2px;
    margin-bottom: -3px; }
  .homepage-exhibition__text--line {
    width: 10px;
    height: 0;
    margin-top: 9px;
    margin-bottom: 9px;
    border-top: 1px solid #7a7a7a; }
  .homepage-exhibition__text:hover {
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .text-block:before, .download-block:before, .clearfix:after, .text-block:after, .download-block:after {
  content: " ";
  display: table; }
.clearfix:after, .text-block:after, .download-block:after {
  clear: both; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  .homepage-exhibition__text--dash,
  h3 {
    orphans: 3;
    widows: 3; }

  h2, .homepage-exhibition__text--dash,
  h3 {
    page-break-after: avoid; } }
