{% extends "admin.html" %}
{% block title %}
    Gallery opening hours
{% endblock %}

{% block body %}
<div class="col-md-8">
      <h3>edit gallery opening hours</h3>
        <ul class="list-group">
            {% for openinghour in openinghours %}
                <li class="list-group-item">
                    {{ openinghour.period}} // {{ openinghour.hours}}
                    <a class="btn btn-primary btn-sm edit-btn" href="/admin/edit-opening-hours/{{ openinghour._id }}">edit</a>
                </li>
            {% endfor %}
        </ul>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <h3>add opening hour</h3>
        {% include 'admin/galleryOpeningHoursForm.html' %}
</div>
{% endblock %}
