{% extends "admin.html" %}
{% block title %}
    Gallery opening hours
{% endblock %}

{% block body %}
<div class="col-md-8">
      <h3>edit gallery opening hours</h3>
        <ul class="list-group">
            {% for openinghour in openinghours %}
                <li class="list-group-item row">
                    <div class="col-xs-8">
                        {{ openinghour.period}} // {{ openinghour.hours}}
                    </div>
                    <div class="col-xs-4 text-right">
                        <a class="btn btn-primary btn-sm" href="/admin/edit-opening-hours/{{ openinghour._id }}">edit</a>
                        <a class="btn btn-danger btn-sm" href="/admin/delete-opening-hours/{{ openinghour._id }}">delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <h3>add opening hour</h3>
        {% include 'admin/gallery/openinghours/galleryOpeningHoursForm.html' %}
</div>
{% endblock %}
