{% extends "admin.html" %}
{% block title %}
    Exhibition form
{% endblock %}

{% block body %}
<div class="col-md-8">
    <form method="post">
        <p>List of items to encode a new exhibition:<br>Artist name,<br>period of exhibition,<br>name of exhibition,<br>exhibition key image,<br>exhibition description text,<br>exhibition views,<br>press release pdf,<br>link to artist page</p>
        <label for="name">Artist name:</label>
        <ul class="list-group">
            {% for artist in artists %}
                <li class="list-group-item">
                    <input name="artists" type="checkbox" value="{{ artist.slug }}" id="{{ artist.slug }}" {{ 'checked' if artist in exhibition.artists else '' }} />
                    <label for="{{ artist.slug }}">{{ artist.artist }}</label>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <label>exhibition dates</label>
        <input type="text" placeholder="from" name="name" id="name" value="{{ exhibition.datestart }}" />
        <input type="text" placeholder="to" name="name" id="name" value="{{ exhibition.dateend }}" />
        <br><br><label for="name">Name of the exhibition</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ exhibition.name }}" />
        <label for="exampleInputFile">Exhibition key image</label>
        <input type="file" id="exampleInputFile" value="{{ exhibition.keyimage }}">
        <p class="help-block">block-level help text here.</p>
        <hr>
        <label>exhibition text description</label>
        <textarea class="form-control" rows="5" value="{{ exhibition.maintext }}"></textarea>
        <hr>
        <label for="exampleInputFile">Exhibition views images</label>
        <input type="file" id="exampleInputFile" value="{{ exhibition.exhibitionviews }}">
        <p class="help-block">block-level help text here.</p>
        <hr>
        <label for="exampleInputFile">Press release PDF</label>
        <input type="file" id="exampleInputFile" value="{{ exhibition.pressrelease }}">
        <p class="help-block">block-level help text here.</p>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
