{% extends "admin.html" %}
{% block title %}
    Exhibition form
{% endblock %}

{% block body %}
<div class="col-xs-12">
    {% from "helpers/_form.html" import render_field, render_datepicker %}
    <form method="post" action="/admin/createExbibition/" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        <div class="row">
            <div class="col-xs-5 col-sm-4">
                {{ render_datepicker(form.start) }}
            </div>
            <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                {{ render_datepicker(form.end) }}
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <label>Exhibition main text</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
            {{ form.wysiwig_description(only_input=True, rows=20) }}
          </div>
          <div class="col-xs-6">
            <label>&larr; Text preview</label>
            {{ form.wysiwig_description(only_preview=True) }}
          </div>
        </div>
        <hr>
        {{ render_field(form.press_release_file) }}

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


<script type="text/javascript">
    window.addEventListener('load', function linkDatePickers () {
        console.log('hey there');
        window.removeEventListener('load', linkDatePickers, false)
        $('#datepicker-start').on('dp.change', function (e) {
            $('#datepicker-end').data("DateTimePicker").minDate(e.date);
        });

    }, false);
</script>
{% endblock %}
