{% extends "admin.html" %}
{% block title %}
    Exhibitions
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>edit exhibitions</h3>
    <ul class="list-group">
      {% for exhibition in exhibitions %}
        <li class="list-group-item row">
          <div class="col-xs-8">
            <b>{{ exhibition.artist }}</b> <br> {{ exhibition.exhibition_name }}
            <br> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}
            <br>{% if exhibition.is_group_expo %}group expo {% else %}single artist expo{% endif %}
          </div>
          <div class="col-xs-4 text-right">
            <a class="btn btn-primary btn-sm" href="/admin/exhibition/update/{{ exhibition._id }}">edit</a>
            <a class="btn btn-danger btn-sm" href="/admin/exhibition/delete/{{ exhibition._id }}">delete</a>
            <input type="checkbox" name="checkbox-published" {{ 'checked="checked"' if (exhibition.is_published) }} value="{{ exhibition._id }}" />
          </div>
        </li>
    	{% endfor %}
    </ul>
    {% include 'helpers/_flashMessage.html' %}

    <br>
    <a class="btn btn-success" href="/admin/exhibition/create/">create new <b>single artist</b> exhibition</a><br><br>
    <a class="btn btn-success" href="/admin/group-exhibition/create/">create new <b>group</b> exhibition</a>

</div>
<script type="text/javascript">
  window.addEventListener('load', function () {
    $("[name='checkbox-published']").bootstrapSwitch({
        'onSwitchChange': function (e, checked) {
          var checkbox = this;
          exhibition_id = $(this).val();
          jQuery.post(
            '/admin/exhibition/publish/' + exhibition_id,
            {
              'is_published': checked
            },
            function (data) {
              $(checkbox).bootstrapSwitch('state', data.is_published, true);
            },
            'json'
          )
        }
    });
  }, false);
</script>
{% endblock %}
