{% block title %}
    Exhibition form
{% endblock %}

{% block body %}
  {% from "helpers/_form.html" import render_field, render_datepicker %}
  <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ render_field(form.artist) }}
      {{ render_field(form.name) }}
      <div class="row">
          <div class="col-xs-5 col-sm-4">
              {{ render_datepicker(form.start) }}
          </div>
          <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
              {{ render_datepicker(form.end) }}
          </div>
      </div>


      <hr>
      {#
      <ul>

        {% for artworks in AL_artworks %}
          <li class="panel">
              <a data-toggle="collapse" data-parent="#menu" href="#one">{{ artworks.artist_sort_title_year }}</a>
              <ul id="what gives you your name" class="collapse">
                <li><img class="small-vignette" src="{{ artworks.img_url }}"><figcaption></figcaption></li>
              </ul>
          </li>
        {% endfor %}
      </ul>
#}


      <hr>

      <div class="row">
        <div class="col-xs-6">
          <label>Exhibition main text</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_exhibition_description(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_exhibition_description(only_preview=True) }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <label>Exhibition artist bio</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_artist_bio(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_artist_bio(only_preview=True) }}
        </div>
      </div>
      <hr>
      {{ render_field(form.press_release_file) }}
      <button type="submit" class="btn btn-default">Submit</button>
  </form>


<script type="text/javascript">
    window.addEventListener('load', function linkDatePickers () {
        console.log('hey there');
        window.removeEventListener('load', linkDatePickers, false)
        $('#datepicker-start').on('dp.change', function (e) {
            $('#datepicker-end').data("DateTimePicker").minDate(e.date);
        });

    }, false);
</script>
{% endblock %}
