{% block title %}
    <h3>Exhibition form</h3>
{% endblock %}

{% block body %}
  {% from "helpers/_form.html" import render_field, render_datepicker, upload_field, bound_upload_field %}
  <form method="post" enctype="multipart/form-data" id="exhibitionForm">
      {{ form.csrf_token }}
      {{ render_field(form.exhibition_name) }}
      <div class="row">
          <div class="col-xs-5 col-sm-4">
              {{ render_datepicker(form.start) }}
          </div>
          <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
              {{ render_datepicker(form.end) }}
          </div>
      </div>
      <hr>
      {{ render_field(form.location) }}
      <hr>
      {{ render_field(form.artist) }}
      <hr>
      {{ bound_upload_field('artworks', 'Select artworks in exhibition') }}
      <hr>
      {{ upload_field('coverimage', 'Cover Image', coverimage) }}
      <hr>
      {{ upload_field('image', 'Exhibition Views', images) }}
      <div class="row">
        <div class="col-xs-6">
          <label>Exhibition main text</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_exhibition_description(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_exhibition_description(only_preview=True) }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <label>Exhibition artist bio</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_artist_bio(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_artist_bio(only_preview=True) }}
        </div>
      </div>
      <hr>
      {{ form.press_release_file }}
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <h4>media link 1</h4>
        </div>
          <div class="col-sm-6">
            {{ render_field(form.link_name1) }}
          </div>
          <div class="col-sm-6">
            {{ render_field(form.link_url1) }}
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <h4>media link 2</h4>
        </div>
          <div class="col-sm-6">
            {{ render_field(form.link_name2) }}
          </div>
          <div class="col-sm-6">
            {{ render_field(form.link_url2) }}
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <h4>media link 3</h4>
        </div>
          <div class="col-sm-6">
            {{ render_field(form.link_name3) }}
          </div>
          <div class="col-sm-6">
            {{ render_field(form.link_url3) }}
          </div>
      </div>
      <button type="submit" class="btn btn-default" id="submit-button">Submit</button>
      <button class="btn btn-default hide" disabled="disabled" id="processing-button"><span class="glyphicon glyphicon-refresh spin" aria-hidden="true"></span>&nbsp;Processing...</button>
  </form>
<script type="text/javascript" src="/static/js/upload.js"></script>
<script type="text/javascript">
    window.addEventListener("load", function () {
        var form = new Form($('form#exhibitionForm'));
        form.addUploadField("coverimage");
        form.addUploadField("image");
        var artworksField = form.addBoundUploadField("artworks");
        var thumbnails = [];
        {% autoescape false %}
        var preselectedArtworks = JSON.parse('{{ selectedArtworks }}');
        {% endautoescape %}
        
        $('select#artist').change(function () {
            var id = $(this).val();
            
            for (var i=0;i<thumbnails.length;i++){
                thumbnails[i].$el.detach();
            }
            
            thumbnails = [];
            
            jQuery.get(
                '/admin/api/artist/' + id + '/image',
                null,
                function (images) {
                    for (var i=0; i<images.length;i++) {
                        var thumb = artworksField.addThumbnail('/' + images[i].path);
                        thumb.$el.append('<input type="hidden" name="' + artworksField.name + '" value="' + images[i]._id.$oid + '" />');
                        if (preselectedArtworks.indexOf(images[i]._id.$oid) < 0) {
                            thumb.delete();
                        }
                        thumbnails.push(thumb);
                    }
                },
                'json'
            );
        });
        
        $('select#artist').trigger('change');
        
    }, false);
</script>
<script type="text/javascript">
    window.addEventListener('load', function () {
        /**
        * Bless the datepickers
        */
        (function ($) {
            'use strict';

            $('#datepicker-start').on('dp.change', function (e) {
                $('#datepicker-end').data("DateTimePicker").minDate(e.date);
            });
        })($);;
    }, false);
</script>
{% endblock %}
