{% extends "admin.html" %}
{% block title %}
    Exhibitions
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>edit exhibitions</h3>
    <ul class="list-group">
      {% for exhibition in exhibitions %}
        <li class="list-group-item row">
          <div class="col-xs-8">
            <div class="media">
              <div class="media-left">
                {% if exhibition.coverimage %}
                  <a><img class="media-object" style="width: 120px; height: auto;" src="/{{exhibition.coverimage.path.replace('/uploads/', '/thumbs/')}}"></a>
                {% else %}
                  <div  style="width: 120px; border: 1px dotted; padding: 5px;"><p>exhibition has no cover image assigned</p></div>
                {% endif %}
              </div>
              <div class="media-body">
                {% if exhibition.location == 'external' %}
                  <code>{{exhibition.location}} — {{exhibition.external_location}}</code>
                {% elif exhibition.location == 'virtual' %}
                  <code>virtual show</code>
                {% else %}
                  <code>{{exhibition.location}} Livornostraat</code>
                {% endif %}
                {% if exhibition.is_group_expo %}
                  (group exhibition) <b>{{ exhibition.exhibition_name }}</b> <br> participants: {{ exhibition['artists']|join(', ', attribute='name') }}
                {% else %}
                    <b>{{ exhibition.artist.name }}</b> <br> {{ exhibition.exhibition_name }}
                {% endif%}
                <br> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}
              </div>
            </div>
          </div>
          <br>
          <div class="col-xs text-right">
            {% if exhibition.is_group_expo %}<a class="btn btn-primary btn-sm" href="/admin/group-exhibition/update/{{ exhibition._id }}">edit</a>{% else %}<a class="btn btn-primary btn-sm" href="/admin/exhibition/update/{{ exhibition._id }}">edit</a>{% endif %}
            <a class="btn btn-danger btn-sm" href="/admin/exhibition/delete/{{ exhibition._id }}">delete</a>
            <input type="checkbox" name="checkbox-published" {{ 'checked="checked"' if (exhibition.is_published) }} value="{{ exhibition._id }}" />
          </div>
        </li>
    	{% endfor %}
    </ul>

    <br>
    <a class="btn btn-success" href="/admin/exhibition/create/">create new <b>single artist</b> exhibition</a><br><br>
    <a class="btn btn-success" href="/admin/group-exhibition/create/">create new <b>group</b> exhibition</a>

</div>
<script type="text/javascript">
  window.addEventListener('load', function () {
    $("[name='checkbox-published']").bootstrapSwitch({
        'onSwitchChange': function (e, checked) {
          var $checkbox = $(this);
          $checkbox.bootstrapSwitch('indeterminate', true);
          exhibition_id = $checkbox.val();
          jQuery.post(
            '/admin/exhibition/publish/' + exhibition_id,
            {
              'is_published': checked
            },
            function (data) {
              $checkbox.bootstrapSwitch('indeterminate', false);
              $checkbox.bootstrapSwitch('state', data.is_published, true);
            },
            'json'
          ).fail(function () {
            $checkbox.bootstrapSwitch('indeterminate', false);
            $checkbox.bootstrapSwitch('state', !checked, true);
          });
        }
    });
  }, false);
</script>
{% endblock %}
