{% macro render_field(field) %}

<div class="form-group {{ 'has-error' if field.errors }}">
    {% if field.errors %}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {{ field.label(class_="control-label") }}
    {{ field(class_="form-control", **kwargs) }}
</div>

{% endmacro %}

{% macro render_datepicker(field) %}

<div class="form-group {{ 'has-error' if field.errors }}">
    {{ field.label(class_="control-label") }}
    <div class="input-group datepicker" id="datepicker-{{ field.name }}">
        {{ field(class_='form-control') }}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>

{% endmacro%}

{% macro upload_field(fieldname, label, files = []) %}
    <div class="row">
      <div class="col-md-12 form-group" id="{{ fieldname }}-upload-field">
        <label>{{ label }}</label>
        <div class="thumbnail-container">
          {% for file in files %}
            <div class="upload-thumbnail">
                <span class="glyphicon glyphicon-remove action delete"></span>
                <span class="glyphicon glyphicon-repeat action restore"></span>
                {% if '_id' in file: %}
                    <input type="hidden" name="{{ fieldname }}" value="{{ file._id }}" />
                {% else: %}
                    <input type="hidden" name="{{ fieldname }}" value="{{ file.path }}" />
                {% endif %}
                <img src="/{{ file.path }}" class="upload-thumbnail" />
            </div>
          {% endfor %}
        </div>
        <br>
        <div>
          <p>
            <input type="file" class="filepicker hidden-filepicker" multiple="true" accept="image/*" />
            <button id="{{ fieldname }}-upload" class="btn btn-default">Select images to upload</button>
            or drag-and-drop them on this container.
          </p>
        </div>
        <div class="dropmask bg-info"></div>
      </div>
    </div>
{% endmacro %}

{% macro bound_upload_field(fieldname, label, files = []) %}
    <div class="row">
      <div class="col-md-12 form-group" id="{{ fieldname }}-upload-field">
        <label>{{ label }}</label>
        <div class="thumbnail-container">
          {% for file in files %}
            <div class="upload-thumbnail selectable selected">
                <span class="glyphicon glyphicon-remove action delete"></span>
                <span class="glyphicon glyphicon-ok action restore"></span>
                {% if '_id' in file: %}
                    <input type="hidden" name="{{ fieldname }}" value="{{ file._id }}" />
                {% else: %}
                    <input type="hidden" name="{{ fieldname }}" value="{{ file.path }}" />
                {% endif %}
                <img src="/{{ file.path }}" class="upload-thumbnail" />
            </div>
          {% endfor %}
        </div>
        <br>
        <div>
          <p>
            <input type="file" class="filepicker hidden-filepicker" multiple="true" accept="image/*" />
            <button id="{{ fieldname }}-upload" class="btn btn-default">Select images to upload</button>
            or drag-and-drop them on this container.
          </p>
        </div>
        <div class="dropmask bg-info"></div>
      </div>
    </div>
{% endmacro %}
