{% block title %}
{% endblock %}

{% block body %}
{% from "helpers/_form.html" import render_field, render_datepicker, upload_field, bound_upload_field, render_uploadfield %}
  <form method="post" enctype="multipart/form-data" action="/admin/exhib-views/create">
      {{ form.csrf_token }}
      <br>
      <div class="row">
        <div class="col-sm-4">
        {{ form.image_file }}
        </div>
      </div>
      <hr>
      <div>
      <div class="row">
        <div class="col-sm-4">
          {{ render_field(form.artists) }}
        </div>
          <div class="col-sm-4">
            {{render_field(form.exhibition_title)}}
          </div>
          <div class="col-sm-4">
            {{render_field(form.year)}}
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4">
            {{render_field(form.institution)}}
          </div>
          <div class="col-sm-4">
            {{render_field(form.city)}}
          </div>
          <div class="col-sm-4">
            {{render_field(form.country)}}
          </div>
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <hr>
{% endblock %}
