{% extends "admin.html" %}
{% block title %}
Managing views
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>edit exhibition views</h3>
  <code>This list displays all exhibitions that contain exhibition views, but not exhibitions that have no views. Uploads are done on the exhibition page itself. Meanwhile, the list displays exhibitions that are offline for pre-publishing cases.<br></code><br>
    <ul class="list-group">
        {% for exhibition in exhibition %}
        {% if exhibition.images %}
            <li class="list-group-item row">
                <div class="media">
                  <div class="media-left">
                    {% if exhibition.coverimage %}
                    <a href="/admin/exhib-views/list/{{exhibition._id}}"><img class="media-object" style="width: 120px; height: auto;" src="/{{ exhibition.coverimage.path.replace('/uploads/', '/thumbs/') }}" alt="..."></a>
                    {% else %}
                    <a href="/admin/exhib-views/list/{{exhibition._id}}"><div  style="width: 120px; border: 1px dotted; padding: 5px;"><p>exhibition has no cover image assigned</p></div></a>
                    {% endif %}
                  </div>
                  <div class="media-body">
                    {% if exhibition.location == 'external' %}
                      <code>{{exhibition.location}} — {{exhibition.external_location}}</code>
                    {% else %}
                      <code>{{exhibition.location}} Livornostraat</code>
                    {% endif %}
                    {% if exhibition.is_group_expo %}
                    <h5 class="media-heading"><a href="/admin/exhib-views/list/{{exhibition._id}}">(group exhibition:) {{exhibition.exhibition_name}}</h5></a>
                    {% else %}
                    <h5 class="media-heading"><a href="/admin/exhib-views/list/{{exhibition._id}}">{{exhibition.artist.name}}</a></h5>
                    {% endif %}
                    {{exhibition.start.strftime('%d.%m.%Y')}} > {{exhibition.end.strftime('%d.%m.%Y')}}
                  </div>
                </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>
{% endblock %}
