{% extends "admin.html" %}
{% block title %}
Managing views
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>edit exhibition views</h3>
  <h6>note: only displays exhibitions that contain exhibition views</h6>
    <ul class="list-group">
        {% for exhibition in exhibition %}
        {% if exhibition.images %}
            <li class="list-group-item row">
              <div class="col-xs-8">
                <div class="media">
                  <div class="media-left">
                    {% if exhibition.coverimage %}
                    <img class="media-object" style="width: 120px; height: auto;" src="/{{ exhibition.coverimage.path }}" alt="...">
                    {% else %}
                    <div  style="width: 120px; border: 1px dotted; padding: 5px;"><p>artist has no cover image assigned</p></div>
                    {% endif %}
                  </div>
                  <div class="media-body">
                    {% if exhibition.is_group_expo %}
                    <h4 class="media-heading"><a href="/admin/exhib-views/list/{{exhibition._id}}">(group exhibition:) {{exhibition.exhibition_name}}</h4></a>
                    {% else %}
                    <h4 class="media-heading"><a href="/admin/exhib-views/list/{{exhibition._id}}">{{exhibition.artist.name}}</a></h4>
                    {% endif %}

                  </div>
                </div>
              </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>
{% endblock %}
