{% extends "base.html" %}
{% block title %}
	| {{ artist.artist }}
{% endblock %}
{% block body %}

	<div class="container">
		<div class="all-col">
			<h1>{{ artist.name }}</h1>
		</div>
		<div class="subnav" id="sidebar">
			<ul>
				<li><a href="#images">images</a></li>
				<li><a href="#info">information</a></li>
				<li><a href="#bio">biography</a></li>
				<li><a href="#">exhibitions</a></li>
				<li><a href="#media">media</a></li>
			</ul>
		</div>
		<div class="subcontent">
	    <section class="subcontent__all-col" id="images">
			<div class="separation-rule"></div>
				<div>
					{% for image in artworks %}
						<div class="image-block">
							<a href="/{{ image.path }}">
								<div class="image-block__inside" style="background-image: url('/{{ image.path }}')" 
									data-exhibitionartistname="{{ image.artist.name }}"
									data-artworkyear="{{ image.title }}{% if image.year %}, {{ image.year }}{% endif %}"
									data-artworkmedium="{{ image.medium }}"
									data-artworkdimensions="{{ image.dimensions }}">
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
		</section>
		<section class="subcontent__all-col informations" id="info">
			<div class="separation-rule"></div>
			<div class="text-block">
				{% if artist.wysiwig_artist_info %}
					{{ artist.wysiwig_artist_info|markdown }}
				{% endif %}
			</div>
	    </section>
	    <section class="subcontent__all-col informations" id="bio">
			<div class="separation-rule"></div>
			<div class="text-block">
			{% if artist.wysiwig_artist_bio %}
			{{ artist.wysiwig_artist_bio|markdown }}
			{% endif %}
		</div>
			{% if artist.wysiwig_artist_exhibitions_list %}
		<div class="text-block artist-exhibition-list" id="exhib-list">
			{{ artist.wysiwig_artist_exhibitions_list|markdown }}
		</div>
		<h2 id="collapse-button"><a id="collapse-bttn" href="javascript:void(0)">click to expand and read more</a></h2>
			{% endif %}
	    </section>
		 <section class="subcontent__all-col informations" id="media">
		 <div class="separation-rule"></div>
		<div class="download-block">
		{% if artist.press_release %}
			<h1>press</h1>
				<div class="download-block__text">
					<a class="" href="/{{ artist.press_release }}"><h3>Download the press release — PDF (size %)</h3></a><br>
		{% endif %}
					<a href="{{ artist.link_url1 }}" target="_blank"><h3>{{ artist.link_name1 }}</h3></a><br>
					<a href="{{ artist.link_url2 }}" target="_blank"><h3>{{ artist.link_name2 }}</h3></a><br>
					<a href="{{ artist.link_url3 }}" target="_blank"><h3>{{ artist.link_name3 }}</h3></a><br>
				</div>
		</div></section>
			<section class="subcontent__all-col informations">
				{% for exhibition in involved_in %}
				{{ exhibition.exhibition_name }}
				{% endfor %}
			</section>
		</div></div>

{% endblock %}
