{% extends "base.html" %}
{% block nav_artists %}active{% endblock %}
{% block title %}
	| {{ artist.name }}
{% endblock %}
{% block body %}

<div class="container">
	<div class="all-col title-block">
		<h1>{{ artist.name }}</h1>
	</div>


	<div class="subnav" id="sidebar">
		<ul>
			{% if has_artworks %}<li><a class="go-to-anchor" href="#images">images</a></li>{% endif %}
			{% if artist.wysiwig_artist_info %}<li><a class="go-to-anchor subnav__information" href="#info"></a></li>{% endif %}
			{% if artist.wysiwig_artist_bio %}<li><a class="go-to-anchor subnav__biography" href="#bio"></a></li>{% endif %}
			{% if has_involved_in %}<li><a class="go-to-anchor" href="#exhibition">exhibitions</a></li>{% endif %}
			{% if artist.link_url1 %}<li><a class="go-to-anchor" href="#press">press</a></li>{% endif %}
		</ul>
	</div>


	<div class="subcontent">
	    <section class="subcontent__all-col margin-top-on-mobile" id="images">
			<div class="separation-rule not-mobile"></div>
				<div>
					{% for image in artist.selected_images %}
					<div class="image-block">
						<a href="/{{ image.path }}">
							<div class="image-block__inside" style="background-image: url('/{{ image.path }}')"
							{% if image.title %} {# image is artwork #}
								data-exhibitionartistname="{{ artist.name }}"
								data-artworkyear="{{ image.title }}{% if image.year %}, {{ image.year }}{% endif %}"
								data-artworkmedium="{{ image.medium }}"
								data-artworkdimensions="{{ image.dimensions }}"
								data-artworkedition="{{ image.edition }}"
							{% endif %}
							{% if image.institution %} {# image is external exhibition view #}
								data-exhibitionartistname="{{ artist.name }}, installation view, {{image.exhibition_title}}, {{image.institution}}, {{image.year}}, {{image.city}}, {{image.country}}"
							{% else %} {# image is internal exhitibion view #}
								data-exhibitionartistname="{{ artist.name }}, exhibition view, Rodolphe Janssen"
							{% endif %}
								>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
		</section>
		{% if artist.wysiwig_artist_info %}
		<section class="subcontent__all-col informations" id="info">
			<div class="separation-rule"></div>
			<div class="text-block">

				{{ artist.wysiwig_artist_info|markdown }}
			</div>
	    </section>
		{% endif %}
	    <section class="subcontent__all-col informations" id="bio">
			{% if artist.wysiwig_artist_bio %}
			<div class="separation-rule"></div>
			<div class="text-block artist-bio-text">
				<h1>BIOGRAPHY</h1>
				{{ artist.wysiwig_artist_bio|markdown }}
			</div>
			{% endif %}
			{% if artist.wysiwig_artist_exhibitions_list %}
			<div class="text-block artist-exhibition-list" id="exhib-list">
			{{ artist.wysiwig_artist_exhibitions_list|markdown }}
				<div class="bottom-gradient"></div>
			</div>
			<h3 id="collapse-button"><a id="collapse-bttn" href="javascript:void(0)"></a></h3>
			{% endif %}
			{% if artist.biography_file %}
			<div class="download-block__text">
				<a class="" href="/{{ artist.biography_file }}"><h3>Download {{ artist.name }}'s biography — PDF ({{artist.biography_size}})</h3></a>
			</div>
			{% endif %}
		</section>


		<section class="subcontent__all-col informations" id="exhibition">
			{% if has_involved_in %}
				<div class="separation-rule"></div>
				{% for exhibition in involved_in %}
					{% if exhibition.is_group_expo %}
					<div class="exhibition-block subcontent__all-col">
						<div class="exhibition-block__wrap">
							<a href="/group-exhibition/{{exhibition.slug }}/">
								{% if exhibition.coverimage %}
									<div class="exhibition-block__image">
										<div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
									</div>
								{% endif %}
									<div class="exhibition-block__text">
										<h1>{{ exhibition.exhibition_name }}</h1>
										<h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
									</div>
							</a>
						</div>
						<div class="separation-rule light-border"></div>
					</div>
						{% else %}
					<div class="exhibition-block subcontent__all-col">
						<div class="exhibition-block__wrap">
							<a href="/exhibition/{{ exhibition.artist.slug }}/{{exhibition.start.strftime('%d.%m.%Y') }}/">
								{% if exhibition.coverimage %}
									<div class="exhibition-block__image">
										<div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
									</div>
								{% endif %}
									<div class="exhibition-block__text">
										<h1>{{ exhibition.artist.name }}</h1>
										<h2>{{ exhibition.exhibition_name }}</h2>
										<h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
									</div>
						 </a>
						 </div>
						 <div class="separation-rule light-border"></div>
			 	 </div>
			 {% endif %}
		{% endfor %}
		{% for exhibition in involved_in_group %}
		<div class="exhibition-block subcontent__all-col">
			<div class="exhibition-block__wrap">
				<a href="/group-exhibition/{{exhibition.slug }}/">
					{% if exhibition.coverimage %}
						<div class="exhibition-block__image">
							<div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
						</div>
					{% endif %}
						<div class="exhibition-block__text">
							<h1>{{ exhibition.exhibition_name }} (group exhibition)</h1>
							<h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
						</div>
				</a>
			</div>
			<div class="separation-rule light-border"></div>
		</div>
		{% endfor %}
		{% endif %}
		</section>
			<section class="subcontent__all-col informations" id="press">
			<div class="download-block">
				{% if artist.press_release %}
				<div class="separation-rule light-border"></div>
				<h1>press</h1>
				<div class="download-block__text">
				<a class="" href="/{{ artist.press_release }}"><h3>Download the press kit — PDF ({{artist.press_release_size}})</h3></a><br>
				</div>
				{% endif %}
				{% if artist.link_url1 %}
				<div class="separation-rule light-border"></div>
				<div class="download-block__text">
					<a href="{{ artist.link_url1 }}" target="_blank"><h3>{{ artist.link_name1 }}</h3></a><br>
					<a href="{{ artist.link_url2 }}" target="_blank"><h3>{{ artist.link_name2 }}</h3></a><br>
					<a href="{{ artist.link_url3 }}" target="_blank"><h3>{{ artist.link_name3 }}</h3></a><br>
				</div>
				{% endif %}
			</div>
		</section>

		</div></div>

{% endblock %}
