<!-- triptych mode exhibitions 32 & 35 and a selected external show side by side by side -->

<div class="container triptych-wrapper">
	<div class="triptych-inside">
	{% for exhibition in exhibition_35 %}
		<div class="homepage-exhibition homepage-exhibition--3" id="exhibition__35">

      {% if exhibition.is_group_expo %}

				<a href="/group-exhibition/{{ exhibition.slug }}/">
					{% if 'coverimage' in exhibition %}
					<div class="homepage-exhibition__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
					{% else %}
						<div class="homepage-exhibition__landing">
							<div class="homepage-exhibition__landing--text">
								<div class="homepage-exhibition__landing--center">
									<p>{{ exhibition.exhibition_name }}</p>
									<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
								</div>
							</div>
						</div>
				{% endif %}
				<div class="homepage-exhibition__text">
					<h5>Rue de Livourne 35 Livornostraat</h5>
					<div class="homepage-exhibition__text--line"></div>
					<h1>{{ exhibition.exhibition_name }}</h1>
					<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
				</div>

			{% else %}

				<a href="/exhibition/{{ exhibition.artist.slug }}/{{exhibition.start.strftime('%d.%m.%Y') }}">
					{% if 'coverimage' in exhibition %}
						<div class="homepage-exhibition__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
					{% else %}
						<div class="homepage-exhibition__landing">
							<div class="homepage-exhibition__landing--text">
								<div class="homepage-exhibition__landing--center">
									<p>{{ exhibition.artist.name }}</p>
									<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="homepage-exhibition__text">
						<h5>Rue de Livourne 35 Livornostraat</h5>
						<div class="homepage-exhibition__text--line"></div>
						<h1>{{ exhibition.artist.name }}</h1>
						<h2>{{ exhibition.exhibition_name }}</h2>
						<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
					</div>
			{% endif %}
			</a>
		</div>
	{% endfor %}

	{% for exhibition in exhibition_32 %}
		<div class="homepage-exhibition homepage-exhibition--3" id="exhibition__32">
	
			{% if exhibition.is_group_expo %}
	
				<a href="/group-exhibition/{{ exhibition.slug }}/">
					{% if 'coverimage' in exhibition %}
						<div class="homepage-exhibition__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
					{% else %}
						<div class="homepage-exhibition__landing">
							<div class="homepage-exhibition__landing--text">
								<div class="homepage-exhibition__landing--center">
									<p>{{ exhibition.exhibition_name }}</p>
									<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="homepage-exhibition__text">
						<h5>Rue de Livourne 32 Livornostraat</h5>
						<div class="homepage-exhibition__text--line"></div>
						<h1>{{ exhibition.exhibition_name }} (group exhibition)</h1>
						<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
					</div>
				</a>
	
			{% else %}
	
				<a href="/exhibition/{{ exhibition.artist.slug }}/{{exhibition.start.strftime('%d.%m.%Y') }}">
					{% if 'coverimage' in exhibition %}
						<div class="homepage-exhibition__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
					{% else %}
						<div class="homepage-exhibition__landing">
							<div class="homepage-exhibition__landing--text">
								<div class="homepage-exhibition__landing--center">
									<p>{{ exhibition.artist.name }}</p>
									<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="homepage-exhibition__text">
						<h5>Rue de Livourne 32 Livornostraat</h5>
						<div class="homepage-exhibition__text--line"></div>
						<h1>{{ exhibition.artist.name }}</h1>
						<h2>{{ exhibition.exhibition_name }}</h2>
						<h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
					</div>
				</a>
			{% endif %}
	
		</div>
	{% endfor %}

	<div class="homepage-exhibition homepage-exhibition--3" id="exhibition__other">	
		{% if homepage_selected_exhibition.is_group_expo %}
		
			<a href="/group-exhibition/{{ homepage_selected_exhibition.slug }}/">
				{% if 'coverimage' in homepage_selected_exhibition %}
					<div class="homepage-exhibition__inside" style="background-image: url('/{{ homepage_selected_exhibition.coverimage.path }}')"></div>
				{% else %}
					<div class="homepage-exhibition__landing">
						<div class="homepage-exhibition__landing--text">
							<div class="homepage-exhibition__landing--center">
								<p>{{ homepage_selected_exhibition.exhibition_name }}</p>
								<h4> {{ homepage_selected_exhibition.start.strftime('%d.%m.%Y') }} > {{ homepage_selected_exhibition.end.strftime('%d.%m.%Y') }} </h4>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="homepage-exhibition__text">
					<h5>{% if homepage_selected_exhibition.external_location %}{{homepage_selected_exhibition.external_location}}{% else %}{{homepage_selected_exhibition.location}} show{% endif %}</h5>
					<div class="homepage-exhibition__text--line"></div>
					<h1>{{ homepage_selected_exhibition.exhibition_name }} (group exhibition)</h1>
					<h4> {{ homepage_selected_exhibition.start.strftime('%d.%m.%Y') }} > {{ homepage_selected_exhibition.end.strftime('%d.%m.%Y') }} </h4>
				</div>
			</a>

		{% else %}

			<a href="/exhibition/{{ homepage_selected_exhibition.artist.slug }}/{{homepage_selected_exhibition.start.strftime('%d.%m.%Y') }}">
				{% if 'coverimage' in homepage_selected_exhibition %}
					<div class="homepage-exhibition__inside" style="background-image: url('/{{ homepage_selected_exhibition.coverimage.path }}')"></div>
				{% else %}
					<div class="homepage-exhibition__landing">
						<div class="homepage-exhibition__landing--text">
							<div class="homepage-exhibition__landing--center">
								<p>{{ homepage_selected_exhibition.artist.name }}</p>
								<h4> {{ homepage_selected_exhibition.start.strftime('%d.%m.%Y') }} > {{ homepage_selected_exhibition.end.strftime('%d.%m.%Y') }} </h4>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="homepage-exhibition__text">
					<h5>{% if homepage_selected_exhibition.external_location %}{{homepage_selected_exhibition.external_location}}{% else %}{{homepage_selected_exhibition.location}} show{% endif %}</h5>
					<div class="homepage-exhibition__text--line"></div>
					<h1>{{ homepage_selected_exhibition.artist.name }}</h1>
					<h2>{{ homepage_selected_exhibition.exhibition_name }}</h2>
					<h4> {{ homepage_selected_exhibition.start.strftime('%d.%m.%Y') }} > {{ homepage_selected_exhibition.end.strftime('%d.%m.%Y') }} </h4>
				</div>
			</a>
		{% endif %}

		</div>{# closes div link before loop #}
	</div>
</div>
