{% extends "base.html" %}
	{% block title %}Current{% endblock %}

	{% block body %}
	{% for exhibition in exhibition_32 %}
		<h3>32</h3>
		<img src="exhibition.key_img">
		{% if exhibition.is_group_expo %}
			<a href="/exhibition/{{ exhibition.slug }}/"><h3>{{ exhibition.exhibition_name }} (group exhibition)</h3></a>
		{% else %}
			<a href="/exhibition/{{ exhibition.slug }}/"><H3>{{ exhibition.artist.name }}</H3></a>
			<a href="/exhibition/{{ exhibition.slug }}/">{{ exhibition.exhibition_name }}</a><br>
		{% endif %}
		<code> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </code><br>
		<div class="separation-rule"></div>
	{% endfor %}

	{% for exhibition in exhibition_35 %}
		<h3>35</h3>
		<img src="exhibition.key_img">
		{% if exhibition.is_group_expo %}
			<a href="/exhibition/{{ exhibition.slug }}/"><h3>{{ exhibition.exhibition_name }} (group exhibition)</h3></a>
		{% else %}
			<a href="/exhibition/{{ exhibition.slug }}/"><H3>{{ exhibition.artist.name }}</H3></a>
			<a href="/exhibition/{{ exhibition.slug }}/">{{ exhibition.exhibition_name }}</a><br>
		{% endif %}
		<code> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </code><br>
		<div class="separation-rule"></div>
	{% endfor %}

	{% endblock %}
