{% extends "base.html" %}
<!--{% block nav_ %}active{% endblock %}-->
{% block title %}{{ exhibition.name }}{% endblock %}
{% block body %}
<!--Single exhibition-->
<div class="container">
  <div class="all-col title-block">
    {% if exhibition.is_group_expo %}
      <h1>{{ exhibition.exhibition_name }}</h1>
    {% else %}
      <h1>{{ exhibition.artist.name }}</h1>
      <h2>{{ exhibition.exhibition_name }}</h2>
    {% endif %}
    <h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
  </div>
  <div class="subnav" id="sidebar">
    <ul>
      <li><a class="go-to-anchor" href="#images">Images</a></li>
      <li><a class="go-to-anchor" href="#presentation">presentation</a></li>
      {% if exhibition.is_group_expo %}
        <li><a class="go-to-anchor" href="#artists">artists</a>
      {% else %}
        <li><a href="/artist/{{ exhibition.artist.slug }}">artist's page</a>
      {% endif %}
      {% if exhibition.iframe1 %}
        <li><a class="go-to-anchor" href="#media">Media</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="subcontent">
    <section class="subcontent__all-col margin-top-on-mobile" id="images">
      <div class="separation-rule not-mobile"></div>
      <div>
    	  {% if exhibition.artworks %}
    	  	{% for artwork in exhibition.artworks %}
    	  		<div class="image-block">
    		  		<a href="/{{ artwork.path }}">
    		  			<div class="image-block__inside" style="background-image: url('/{{ artwork.path }}')"
    		  				{% if exhibition.is_group_expo %}
				  			data-groupexhibitionname="in {{ exhibition.exhibition_name }} (group exhibition)"
				  			data-groupexhibtionartist="{{ artwork.artist.name }}"
				  			{% else %}
				  			data-exhibitionartistname="{{ exhibition.artist.name }}"
				  			{% endif %}
				  			data-artworkyear="{{ artwork.title }}{% if artwork.year %}, {{ artwork.year }}{% endif %}"
				  			data-artworkmedium="{{ artwork.medium }}"
				  			data-artworkdimensions="{{ artwork.dimensions }}">
				  		</div>
    			  	</a>
    		  	</div>
    		  {% endfor %}
    	  {% endif %}
    	  
        {% if exhibition.images %}
    	  	{% for installation_view in exhibition.images %}
          <div class="image-block">
            <a href="/{{ installation_view.path }}">
              <div class="image-block__inside" style="background-image: url('/{{ installation_view.path }}')"
              		{% if exhibition.is_group_expo %}
              		data-installation-group="{{ exhibition.exhibition_name }}, installation view, Rodolphe Janssen, Brussels"
				  	{% else %}
					data-installation-solo="{{ exhibition.artist.name }}, {{ exhibition.exhibition_name }}, installation view, Rodolphe Janssen, Brussels"
					{% endif %} >
              </div>
            </a>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>

     {% if exhibition.is_group_expo %}
     <section class="subcontent__all-col" id="artists">
     	<div class="separation-rule"></div>
        	<ul>
				{% for artists in exhibition.artists %}
				<li>{{ artists.name }}</li>
				{% endfor %}

				{{ exhibition.extra_artists }}
            </ul>
	</section>
    {% else %}
	{% endif %}

    <section class="subcontent__all-col informations" id="presentation">
    	<div class="separation-rule"></div>
		{% if exhibition.wysiwig_exhibition_description %}
        	<div class="text-block">
				<h1>information</h1>
				{{ exhibition.wysiwig_exhibition_description|markdown }}
			</div>
      {% endif %}
        {% if exhibition.is_group_expo %}
        {% else %}
      	{% if exhibition.artist.wysiwig_artist_bio %}
      		<div class="text-block">
		  		<h1>about the artist</h1>
		  		{{ exhibition.artist.wysiwig_artist_bio|markdown }}
		  	</div>
		    {% endif %}
        {% endif %}

        <div class="download-block">
        {% if exhibition.press_release %}
          <h1>press</h1>
          	<div class="download-block__text" id="media">
            	<a class="" href="/{{ exhibition.press_release }}"><h3>Download the press release — PDF (size %)</h3></a><br>
			  {% endif %}
			  	<a href="{{ exhibition.link_url1 }}" target="_blank"><h3>{{ exhibition.link_name1 }}</h3></a><br>
		  		<a href="{{ exhibition.link_url2 }}" target="_blank"><h3>{{ exhibition.link_name2 }}</h3></a><br>
		  		<a href="{{ exhibition.link_url3 }}" target="_blank"><h3>{{ exhibition.link_name3 }}</h3></a>
		        </div>
        </div>
    </section>
  </div>

{% endblock %}
