{% extends "base.html" %}
{% block title %}{{ exhibition.name }}{% endblock %}
{% block body %}
<!--Single exhibition-->
<div class="container">
  <div class="all-col">
    {% if exhibition.is_group_expo %}
      <h1>{{ exhibition.exhibition_name }}</h1>
    {% else %}
      <h1>{{ exhibition.artist.name }}</h1>
      <h2>{{ exhibition.exhibition_name }}</h2>
    {% endif %}
    <code> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </code>
  </div>
  <div class="subnav" id="sidebar">
    <ul>
      <li><a href="#informations">Images</a></li>
      <li><a href="#exhibition">presentation</a></li>
      {% if exhibition.is_group_expo %}
        <li><a href="#">artists</a>
      {% else %}
        <li><a href="/artist/{{ exhibition.artist.slug }}">artist's page</a>
      {% endif %}
      {% if exhibition.iframe1 %}
        <li><a href="#media">Media</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="subcontent">
    <section class="subcontent__all-col informations" id="informations">
      <div class="separation-rule"></div>
      {% if exhibition.images %}
          {% for images in exhibition.images %}
            <img class="vignette" style="width:20%; margin-left:3%;" src="/{{ images.path }} ">
            <!--
            <code>
              {{ images.artist.name }}
              {{ images.title }}
              {{ images. }}
              {{ images. }}
            </code>
          -->
          {% endfor %}
      {% endif %}
      <div class="separation-rule"></div>
      {% if exhibition.is_group_expo %}
          <ul>
        {% for artists in exhibition.artists %}
          <li>{{ artists.name }}</li>
        {% endfor %}
        {{ exhibition.extra_artists }}
          </ul>
          <div class="separation-rule"></div>
      {% else %}
      <br>
      {% endif %}
      {% if exhibition.wysiwig_exhibition_description %}
        <div class="text-block">
          <h2>information</h2>
          {{ exhibition.wysiwig_exhibition_description|markdown }}
        </div>
      {% endif %}
      {% if exhibition.wysiwig_artist_bio %}
        <div class="text-block">
          <h2>about the artist</h2>
          {{ exhibition.wysiwig_artist_bio|markdown }}
        </div>
      {% endif %}
        <div class="text-block">
          <h2>press</h2>
          {% if exhibition.press_release %}
          <div id="media">
            <p><a class="" href="/{{ exhibition.press_release }}">Download the press release — PDF (size %)</a></p>
          {% endif %}
          <p><a href="{{ exhibition.link_url1 }}">{{ exhibition.link_name1 }}</a></p>
          <p><a href="{{ exhibition.link_url2 }}">{{ exhibition.link_name2 }}</a></p>
          <p><a href="{{ exhibition.link_url3 }}">{{ exhibition.link_name3 }}</a></p>
        </div>

        </div>
{% endblock %}
