{% extends "base.html" %}
{% block title %}{{ exhibition.name }}{% endblock %}
{% block body %}
<!--Single exhibition-->
<div class="container">
  <div class="all-col">
    <h1>{{ exhibition.artist }}</h1>
    <h2>{{ exhibition.name }}</h2>
    <code> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </code>
  </div>
  <div class="subnav" id="sidebar">
    <ul>
      <li><a href="#informations">Images</a></li>
      <li><a href="#exhibition">Informations</a></li>
      <li><a href="">Exhibitions</a></li>
      <li><a href="">Media</a></li>
    </ul>
  </div>
  <div class="subcontent">
    <section class="subcontent__all-col informations" id="informations">
      <div class="separation-rule"></div>
      <div class="text-block">
        {{exhibition.wysiwig_exhibition_description}}
      </div>
      <div class="text-block">
        {{ exhibition.wysiwig_artist_bio }}
      </div>

{% endblock %}
