{% extends "base.html" %}
	{% block nav_gallery %}active{% endblock %}
	{% block title %}Layout testing{% endblock %}

	{% block body %}
	<div class="container no-margin-top">

		<div class="gallery__left">
			<section class="contact">
			<div class="separation-rule"></div>
				<div class="text-block">
					<h5>Adress</h5>
					<p>Rue Livourne 35 &amp; 32 Livornostraat<br>
						1050 Brussels, Belgium<br>
						<a href="http://maps.google.com" target="_blank">directions →</a>
					</p>
				</div>

			<div class="text-block">
				<h5>Contact</h5>
				<p>+32 2 538 08 18<br>
				<a href="#">info@rodolphejanssen.com</a></p>
			</div>

			<div class="text-block">
				<h5>Opening Hours</h5>
				<p>
					{% for openinghour in openinghours %}
						{{ openinghour.period}}&emsp;&mdash;&emsp;{{ openinghour.hours}}<br>
					{% endfor %}
				</p>
			</div>
		</section>

		<section class="contact">
		<div class="separation-rule"></div>
			<div class="text-block">
				<h5>Newsletter</h5>
				<form class="newsletter">
					<input type="text" name="firstname" placeholder="Name"><input type="text" name="lastname" placeholder="E-Mail"><input type="submit" value="Subscribe" class="newsletter__button">
				</form>
			</div>

			<div class="text-block">
				<h5>Facebook</h5>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
				<a href="#">colophon</a>
			</div>

		</section>
	</div>

	<div class="gallery__right">
	<div class="separation-rule"></div>
		{% for teammember in teammembers %}
			<div class="staff_member">
				<h3>{{ teammember.name }}</h3>
					<p class="staff_member__title">{% if teammember.role %} — {{ teammember.role }}{% endif %}</p>
				<p class="staff_member__mail"><a href="mailto:{{ teammember.email }}">{{ teammember.email }}</a></p>
			</div>
		{% endfor %}
	</div>

</section>
		</div>
	</div>

	{% endblock %}
