{% extends "base.html" %}
	{% block nav_gallery %}active{% endblock %}
	{% block title %} | Gallery{% endblock %}

	{% block body %}
	<div class="container no-margin-top">

		<div class="gallery__left">
			<section class="contact">
			<div class="separation-rule"></div>
				<div class="text-block">
					<h5>Adress</h5>
					<p>Rue Livourne 35 &amp; 32 Livornostraat<br>
						1050 Brussels, Belgium<br>
						<a href="https://www.google.com/maps/place/Galerie+Rodolphe+Janssen/@50.8300405,4.3587861,17z/data=!3m1!4b1!4m2!3m1!1s0x47c3c48a52975575:0x4ea2edcfd62f0c58" target="_blank">directions →</a>
					</p>
					<p>Zeedijk-Het Zoute 736<br>
						8300 Knokke<br>
						<a href="https://www.google.com/maps/place/Zeedijk-Het+Zoute+736,+8300+Knokke-Heist,+Belgium/data=!4m2!3m1!1s0x47c4a63a25aa947d:0xe49c8143e7b8d5f7?sa=X&ved=2ahUKEwiVga2V58XpAhWDoXEKHecXARIQ8gEwAHoECAsQAQ" target="_blank">directions →</a>
					</p>
				</div>

			<div class="text-block">
				<h5>Contact</h5>
				<p>+32 2 538 08 18<br>
				<a href="mailto:info@rodolphejanssen.com">info@rodolphejanssen.com</a></p>
			</div>

			<div class="text-block">
				<h5>Opening Hours</h5>
				<p>
					{% for openinghour in openinghours %}
						{{ openinghour.period}}&emsp;&mdash;&emsp;{{ openinghour.hours}}<br>
					{% endfor %}
				</p>
			</div>
		</section>

		<section class="contact">
		<div class="separation-rule"></div>


			<div class="text-block">
				<h5>Newsletter</h5>
				<form action="http://janssen.createsend.com/t/r/s/pgdur/" method="post" id="subForm" class="newsletter">
					<input id="fieldName" name="cm-name" type="text" placeholder="Name"/><input id="fieldEmail" name="cm-pgdur-pgdur" type="email" required placeholder="E-Mail"/><button type="submit" class="newsletter__button">Subscribe</button>
				</form>
			</div>

			<div class="text-block no-margin-bottom">
				<h5 class="social_media_title">Social Medias</h5>
				<a href="https://www.facebook.com/GRJanssen" target=_blank class="social_media_icon"><img src="/static/img/facebook.png"></a><a href="https://instagram.com/rodolphejanssen/" target="_blank" class="social_media_icon"><img src="/static/img/instagram.png"></a><!--<a href="https://twitter.com/GalerieRJ" target="_blank" class="social_media_icon"><img src="/static/img/twitter.png"></a>-->
			</div>
		</section>
	</div>

	<div class="gallery__right">
	<div class="separation-rule"></div>
		{% for teammember in teammembers %}
			<div class="staff_member">
				<h3>{{ teammember.name }}</h3>
					<p class="staff_member__title">{% if teammember.role %} — {{ teammember.role }}{% endif %}</p>
				<p class="staff_member__mail"><a href="mailto:{{ teammember.email }}">{{ teammember.email }}</a></p>
			</div>
		{% endfor %}


</section>
		</div>
		<div class="colophon">
			<p>Design: <a href="http://virgilejanssen.com" target="_blank">Virgile Janssen</a></p>
			<p>Development : <a href="http://virgilejanssen.com" target="_blank">Virgile Janssen</a> & <a href="http://colm.be" target="_blank">Colm O'Neill</a></p>
		</div>
	</div>

	{% endblock %}
