<!--
I know it's messy.
This is a test page. That's what it's made for...
Don't judge me you Irish fuck.
-->


{% extends "base.html" %}
	{% block title %}Layout testing{% endblock %}

	{% block body %}
	<div class="container">
		<div class="all-col">
			<section>

		<div class="contact-wrapper">
		<div class="contact">
			<div class="full-width">
				<h2>Adress</h2>
				<p class="presentation__text">Rue Livourne 35 & 32 Livornostraat<br>
					1050 Brussels, Belgium<br>
					<a href="http://maps.google.co.uk" target="_blank">directions →</a>
				</p>
			</div>

			<div class="full-width">
				<h2>Contact</h2>
				<p class="presentation__text">+32 2 538 08 18<br>
				<a href="#">info@rodolphejanssen.com</a></p>
			</div>

			<div class="full-width">
				<h2>Opening Hours</h2>
				<p class="presentation__text">Tuesday to Friday - 12 > 18 <br>
				Saturday - 14 > 18</p>
			</div>
	</div>

	<div class="contact">
		<div class="full-width">
			<h2>Newsletter</h2>
			<form class="presentation__text">
				<input type="text" name="firstname" placeholder="Name">
				<input type="text" name="lastname" placeholder="E-Mail">
				<input type="submit" value="Subscribe" class="btn">
			</form>
		</div>
		<div class="full-width" style="margin-top:10px;">
			<h2>Facebook</h2>
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>
	</div>

		</div>


	<div class="mails">
		<h3>Rodolphe Janssen</h3>
		<p class="var"><a href="#">rodolphe@rodolphejanssen.com</a></p>
		<h3>Sibylle du Roy <span class="title">— Director</span></h3>
		<p class="var"><a href="#">sibylle@rodolphejanssen.com</a></p>
		<h3>Stéphanie Jezierski <span class="title">— Gallery Manager / Account</span></h3>
		<p class="var"><a href="#">stephanie@rodolphejanssen.com</a></p>
		<h3>Gaël Leininger <span class="title">— Operation & Logistic Manager</span></h3>
		<p class="var"><a href="#">gael@rodolphejanssen.com</a></p>
		<h3>Eléonore Jacquard <span class="title">— Press / Public Relations</span></h3>
		<p class="var"><a href="#">eleonore@rodolphejanssen.com</a></p>
		<h3>Julie Senden <span class="title">— Assistant</span></h3>
		<p class="var"><a href="#">julie@rodolphejanssen.com</a></p>
		<h3>Vanessa Weckx</h3>
		<p class="var"><a href="#">vanessa@rodolphejanssen.com</a></p>
	</div>

	</section>
		</div>
	</div>

	{% endblock %}
