{% extends "base.html" %}
{% block nav_past %}active{% endblock %}
{% block title %} | Past Exhibitions{% endblock %}
{% block body %}
<!--Single exhibition-->
<div class="container no-margin-top">
    <div class="subnav" id="sidebar">
		<ul>
			{% for year in years %}
				<li><a class="go-to-anchor" href="#{{ year }}">{{ year }}</a><li>
			{% endfor %}
		</ul>
	</div>
	<div class="subcontent">
    	{% for year in years %}
		<section class="subcontent__all-col exhibitions-page upcoming-exhibitions" id="{{ year }}">
      		<div class="separation-rule year"></div>
	  			{% for exhibition in past_exhibitions[year] %}
	  				{% if exhibition.is_group_expo %}
	  					<div class="exhibition-block subcontent__all-col">
	  						<div class="exhibition-block__wrap">
			  					<a href="/group-exhibition/{{exhibition.slug }}/">
				  					{% if exhibition.coverimage %}
				  						<div class="exhibition-block__image">
					  						<div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
					  					</div>
					  				{% endif %}
					  					<div class="exhibition-block__text">
					  						<h1>{{ exhibition.exhibition_name }}</h1>
					  						<h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
					  					</div>
					  			</a>
	  						</div><div class="separation-rule light-border"></div>
				  		</div>
				  	{% else %}
				  		<div class="exhibition-block subcontent__all-col">
				  			<div class="exhibition-block__wrap">
						  		<a href="/exhibition/{{ exhibition.artist.slug }}/{{exhibition.start.strftime('%d.%m.%Y') }}/">
							  		{% if exhibition.coverimage %}
							  			<div class="exhibition-block__image">
								  			<div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path }}')"></div>
								  		</div>
								  	{% endif %}
								  		<div class="exhibition-block__text">
								  			<h1>{{ exhibition.artist.name }}</h1>
								  			<h2>{{ exhibition.exhibition_name }}</h2>
								  			<h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
								  		</div>
							   </a>
						   </div><div class="separation-rule light-border"></div>
					 </div>
				{% endif %}
			{% endfor %}
		</section>
	{% endfor %}
	</div>
</div>
{% endblock %}
