<div class="container">
  <div class="all-col title-block">
    {% if exhibition.is_group_expo %}
      <h1>{{ exhibition.exhibition_name }}</h1>
    {% else %}
      <h1>{{ exhibition.artist.name }}</h1>
      <h2>{{ exhibition.exhibition_name }}</h2>
    {% endif %}
    <h4> {{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }} </h4>
    {% if exhibition.location == "32" %}
    	<div class="homepage-exhibition__text--line"></div>
    	<h5>Rue de Livourne 32 Livornostraat</h5>
	{% elif exhibition.location == "35" %}
		<div class="homepage-exhibition__text--line"></div>
		<h5>Rue de Livourne 35 Livornostraat</h5>
    {% else %}
    	<div class="homepage-exhibition__text--line"></div>
    	<h5>{{ exhibition.external_location }}</h5>
    {% endif %}
  </div>
  <div class="subnav" id="sidebar">
    <ul>
      {% if exhibition.artworks %}
      <li><a class="go-to-anchor" href="#images">Images</a></li>
      {% endif %}
      {% if exhibition.is_group_expo %}
        <li><a class="go-to-anchor" href="#artists">artists</a>
        {% if exhibition.press_release %}
        <li><a class="go-to-anchor" href="#press-release">press release</a></li>
        {% endif %}
      {% else %}
        {% if exhibition.press_release %}
      	<li><a class="go-to-anchor" href="#press-release">press release</a></li>
        {% endif %}
        {% if exhibition.artist.is_published %}
        <li><a href="/artist/{{ exhibition.artist.slug }}">artist's page</a>
        {% endif %}
      {% endif %}
      {% if exhibition.iframe1 %}
        <li><a class="go-to-anchor" href="#media">Media</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="subcontent">
    <section class="subcontent__all-col margin-top-on-mobile" id="images">
      <div class="separation-rule not-mobile"></div>
      <div>
        {% if exhibition.images %}
    	  	{% for installation_view in exhibition.images %}
          <div class="image-block">
            <a href="/{{ installation_view.path }}">
              <div class="image-block__inside" style="background-image: url('/{{ installation_view.path.replace('/uploads/', '/thumbs/') }}')"
            {% if exhibition.is_group_expo %}
              data-installation-group="
              {% if exhibition.exhibition_name %}{{ exhibition.exhibition_name }} {% if exhibition.exhibition_title %} {{ exhibition.exhibition_title }},{% endif %}{% endif %}installation view,
              {% if installation_view.institution %}{{installation_view.institution}}, {% else %}rodolphe janssen, {% endif %}
              {% if installation_view.country %}{{installation_view.country}}, {% else %}Brussels, Belgium{% endif %}
              {% if installation_view.year %}{{installation_view.year}} {% else %}{{ exhibition.start.strftime('%Y') }}{% endif %}"
			{% else %}
				data-installation-solo="
              {% if installation_view.artist %}{{ installation_view.artist }}{% else %}{{ exhibition.artist.name }}{% endif %},
              {% if exhibition.exhibition_name %} {{ exhibition.exhibition_name }},{% endif %}{% if installation_view.exhbition_title %} {{ installation_view.exhbition_title }},{% endif %} installation view,
              {% if installation_view.institution %}{{installation_view.institution}}, {% else %}rodolphe janssen, {% endif %}
              {% if installation_view.country %}{{installation_view.country}}, {% else %}Brussels, Belgium{% endif %}
              {% if installation_view.year %}{{installation_view.year}} {% else %}{{ exhibition.start.strftime('%Y') }}{% endif %}"
					  {% endif %} >
              </div>
            </a>
          </div>
          {% endfor %}
        {% endif %}
    	  {% if exhibition.artworks %}
    	  	{% for artwork in exhibition.artworks %}
    	  		<div class="image-block">
    		  		<a href="/{{ artwork.path }}">
    		  			<div class="image-block__inside" style="background-image: url('/{{ artwork.path.replace('/uploads/', '/thumbs/') }}')"
    		  				{% if exhibition.is_group_expo %}
				  			data-groupexhibitionname="in {{ exhibition.exhibition_name }}"
				  			data-groupexhibtionartist="{% if artwork.artist %}{{ artwork.artist.name }}{% endif %}"
				  			{% else %}
				  			data-exhibitionartistname="{{ exhibition.artist.name }}"
				  			{% endif %}
				  			data-artworkyear="{{ artwork.title }}{% if artwork.year %}, {{ artwork.year }}{% endif %}"
				  			data-artworkmedium="{{ artwork.medium }}"
				  			data-artworkdimensions="{{ artwork.dimensions }}"
				  			data-artworkedition="{{ artwork.edition }}">
				  		</div>
    			  	</a>
    		  	</div>
    		  {% endfor %}
    	  {% endif %}
      </div>
    </section>

    {% if exhibition.is_group_expo %}
      <section class="subcontent__all-col" id="artists">
        <div class="separation-rule"></div>
        <div class="group-exhibition-artists">
          {% for artist in exhibition.all_artists %}
          <p>
            {% if 'name' in artist %}
              {% if artist.is_published %}
                <a href="/artist/{{ artist.slug }}" >{{ artist.name }}</a>
              {% else %}
                {{ artist.name }}
              {% endif %}
            {% else %}
              {{ artist }}
            {% endif %}
          </p>
          {% endfor %}
     	  </div>
	  </section>
	  {% endif %}

    {% if exhibition.embed_video is defined %}
      <section class="subcontent__all-col informations">
        <div class="separation-rule"></div>
          <div class="text-block">
          <h1>video</h1>
            <div class="iframe-wrapper">
              <div class="iframe-wrapper-inside">
                {{exhibition.embed_video|safe}}
              </div>
            </div>
          </div>
      </section>
    {% else %}
    {% endif %}

    <section class="subcontent__all-col informations" id="press-release">
		  {% if exhibition.wysiwig_exhibition_description %}
      <div class="separation-rule"></div>
        	<div class="text-block">
				<h1>information</h1>
				{{ exhibition.wysiwig_exhibition_description|markdown }}
			</div>
      {% endif %}

      <div class="download-block">
      {% if exhibition.press_release %}
        <h1>press</h1>
          <div class="download-block__text" id="media">
            <a class="" href="/{{ exhibition.press_release }}"><h3>Download the press release — PDF ({{ exhibition.press_release_size }})</h3></a><br>
      {% else %}
          <div class="download-block__text" id="media">
      {% endif %}
            <a href="{{ exhibition.link_url1 }}" target="_blank"><h3>{{ exhibition.link_name1 }}</h3></a><br>
            <a href="{{ exhibition.link_url2 }}" target="_blank"><h3>{{ exhibition.link_name2 }}</h3></a><br>
            <a href="{{ exhibition.link_url3 }}" target="_blank"><h3>{{ exhibition.link_name3 }}</h3></a>
          </div>
      </div>
    </section>
  </div>
