<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <br><br><br><br><br>
  <div class="col-md-4 col-md-offset-4">
    <img src="/static/img/rj_logo.svg" alt="rodolphe janssen">
    <br><br>
    <code>website under construction</code>
    <code>visit the old website</code>
    <code><a href="/login">or login to the admin</a></code>
  </div>
</div>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>

</body>
