{% extends "base.html" %}
	{% block title %}Layout testing{% endblock %}

	{% block body %}
	<div class="container">
		<div class="col5__span5of5 col4__span4of4 col2__span2of2">
			<h1>col5__span5of5</h1>
			<div class="col5__span3of5 col4__span2of4 col2__span2of2">
				<h1>col5__span3of5</h1>
			</div>
			<div class="col5__span2of5 col4__span2of4 col2__span2of2 last">
				<h1>col5__span3of5</h1>
				<div class="col5__span1of2 col4__span1of2 col2__span1of2">
					<h1>col5__span1of2</h1>
				</div>
				<div class="col5__span1of2 col4__span1of2 col2__span1of2 last">
					<h1>col5__span1of2</h1>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
