<!--
I know it's messy.
This is a test page. That's what it's made for...
Don't judge me you Irish fuck.
-->


{% extends "base.html" %}
	{% block title %}Layout testing{% endblock %}

	{% block body %}
	<div class="container">
		<div class="all-col">
			<h1>david adamo</h1>
		</div>
		<div class="subnav" id="sidebar">
			<ul>
				<li><a href="#informations">Images</a></li>
				<li><a href="">Informations</a></li>
				<li><a href="">Exhibitions</a></li>
				<li><a href="">Media</a></li>
			</ul>
		</div>
		<div class="subcontent">
			<section class="subcontent__all-col" id="informations">
			
						<div class="col5__span2of4 col4__span1of3 col2__span2of2">
			<form class="newsletter">
				<input type="text" name="firstname" placeholder="Name"><input type="text" name="lastname" placeholder="E-Mail"><input type="submit" class="newsletter__button" value="Subscribe">
				
			</form>
			</div>
			
				<div class="separation-rule"></div>
				<div class="text-block">
					<h5>informations</h5>
					<p>Just as friendships float in and out of focus, so too do the objects that spur memories of them. Photographs, scribbled notes, and scraps gradually become totems to the people we care about - as if all one’s friends have been assigned corresponding imagery to be framed, repeated: an ode in the form of a mantra. In graffiti culture, a writer’s name rarely appears alone; a piece is always flanked by dedications to the writer’s community: His or her crew, lovers, landlord, parents, pets. Names become nicknames, nicknames become inside-jokes, inside jokes become fodder for new imagery, and thus a visual language to describe and pay homage to friendships crystallizes.</p>
				</div>
				<div class="text-block">
					<h5>informations</h5>
					<p>Just as friendships float in and out of focus, so too do the objects that spur memories of them. Photographs, scribbled notes, and scraps gradually become totems to the people we care about - as if all one’s friends have been assigned corresponding imagery to be framed, repeated: an ode in the form of a mantra. In graffiti culture, a writer’s name rarely appears alone; a piece is always flanked by dedications to the writer’s community: His or her crew, lovers, landlord, parents, pets. Names become nicknames, nicknames become inside-jokes, inside jokes become fodder for new imagery, and thus a visual language to describe and pay homage to friendships crystallizes.</p>
				</div>
			</section>
			<section class="subcontent__all-col" id="exhibition">
				<h1>lucas blalock</h1>
				<h2>a farmer's knowledge</h2>
				<p class="dash">–</p>
				<h4>02.04.15 > 16.05.15</h4>
			</section>
		</div>

				<a href="">
				<div class="artist-block">
					<div class="artist-block__image"></div>
					<p>lucas blalock</p>
				</div>
				</a>
				
		<div class="col5__span2of4 staff_member">
			<h3>Rodolphe Janssen</h3>
			<p class="staff_member__title">— Director</p>
			<p class="staff_member__mail"><a href="">rodolphe@rodolphe.rodolphe</a></p>
		</div>
		

				
				<div class="artist-block">
					<div class="artist-block__image"></div>
					<p>lucas blalock</p>
				</div>
				<div class="artist-block">
					<div class="artist-block__image"></div>
					<p>lucas blalock</p>
				</div>
				<div class="artist-block">
					<div class="artist-block__image"></div>
					<p>lucas blalock</p>
				</div>
				<div class="artist-block">
					<div class="artist-block__image"></div>
					<p>lucas blalock</p>
				</div>
				<div class="">
					<div class="artist-block__image"></div>
					<p>lucas blalock</p>
				</div>
	

	</div>
	{% endblock %}
