{% extends "base.html" %}
	{% block title %}Layout testing{% endblock %}

	{% block body %}
	<div class="container">
		<div class="all-col">
			<h1>david adamo</h1>
		</div>
		<div class="subnav">
		</div>
		<div class="subcontent">
			<section class="subcontent__all-col" id="informations">
				<div class="separation-rule"></div>
				<div class="text-block">
					<h5>informations</h5>
					<p>Just as friendships float in and out of focus, so too do the objects that spur memories of them. Photographs, scribbled notes, and scraps gradually become totems to the people we care about - as if all one’s friends have been assigned corresponding imagery to be framed, repeated: an ode in the form of a mantra. In graffiti culture, a writer’s name rarely appears alone; a piece is always flanked by dedications to the writer’s community: His or her crew, lovers, landlord, parents, pets. Names become nicknames, nicknames become inside-jokes, inside jokes become fodder for new imagery, and thus a visual language to describe and pay homage to friendships crystallizes.</p>
				</div>
				<div class="text-block">
					<h5>informations</h5>
					<p>Just as friendships float in and out of focus, so too do the objects that spur memories of them. Photographs, scribbled notes, and scraps gradually become totems to the people we care about - as if all one’s friends have been assigned corresponding imagery to be framed, repeated: an ode in the form of a mantra. In graffiti culture, a writer’s name rarely appears alone; a piece is always flanked by dedications to the writer’s community: His or her crew, lovers, landlord, parents, pets. Names become nicknames, nicknames become inside-jokes, inside jokes become fodder for new imagery, and thus a visual language to describe and pay homage to friendships crystallizes.</p>
				</div>
			</section>
			<section class="subcontent__all-col" id="exhibition">
				<h1>lucas blalock</h1>
				<h2>a farmer's knowledge</h2>
				<h4>02.04.15 > 16.05.15</h4>
			</section>
		</div>
	</div>
	{% endblock %}
