{% extends "base.html" %}
{% block nav_upcoming %}active{% endblock %}
{% block title %} | Upcoming Exhibitions{% endblock %}
{% block body %}
<!--Single exhibition-->
<div class="container no-margin-top">
  <div class="all-col exhibitions-page">
  	<div class="separation-rule upcoming"></div>
    	{% for exhibition in future_exhibition %}
		{% if exhibition.is_group_expo %}
        <div class="exhibition-block subcontent__all-col">
            <div class="exhibition-block__wrap">
              <a href="/group-exhibition/{{exhibition.slug }}/">
                {% if exhibition.coverimage %}
                  <div class="exhibition-block__image--upcoming">
                    <div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path.replace('/uploads/', '/thumbs/') }}')"></div>
                  </div>
                {% endif %}
                  <div class="exhibition-block__text">
                    <h1>{{ exhibition.exhibition_name }}</h1>
                    <h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
                  </div>
              </a>
            </div><div class="separation-rule light-border"></div>
          </div>
        {% else %}
        <div class="exhibition-block subcontent__all-col">
          <div class="exhibition-block__wrap">
            <a href="/exhibition/{{ exhibition.artist.slug }}/{{exhibition.start.strftime('%d.%m.%Y') }}/">
              {% if exhibition.coverimage %}
                <div class="exhibition-block__image--upcoming">
                  <div class="exhibition-block__inside" style="background-image: url('/{{ exhibition.coverimage.path.replace('/uploads/', '/thumbs/') }}')"></div>
                </div>
              {% endif %}
                <div class="exhibition-block__text">
                  <h1>{{ exhibition.artist.name }}</h1>
                  <h2>{{ exhibition.exhibition_name }}</h2>
                  <h4>{{ exhibition.start.strftime('%d.%m.%Y') }} > {{ exhibition.end.strftime('%d.%m.%Y') }}</h4>
                </div>
           </a>
         </div><div class="separation-rule light-border"></div>
     </div>
  {% endif %}
    {% endfor %}
  </div>
   </div>
{% endblock %}
