{% extends "base.html" %}
{% block title %}upcoming exhibitions{% endblock %}
{% block body %}
<!--Single exhibition-->
<div class="container no-margin-top">
  <div class="all-col">
    {% for exhibitions in future_exhibition %}
      <div class="exhibition-block subcontent__all-col">
        {% if exhibitions.is_group_expo %}
            <h1>{{ exhibitions.exhibition_name }}</h1>
            <h4>{{ exhibitions.start.strftime('%d.%m.%Y') }} > {{ exhibitions.end.strftime('%d.%m.%Y') }}</h4>
        {% else %}
            <h1>{{ exhibitions.artist.name }}</h1>
            <h2>{{ exhibitions.exhibition_name }}</h2>
            <h4>{{ exhibitions.start.strftime('%d.%m.%Y') }} > {{ exhibitions.end.strftime('%d.%m.%Y') }}</h4>
        {% endif %}
      <div class="separation-rule light-border"></div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
