<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    {{ pagedown.include_pagedown() }}
    <title>editing GJ.com |</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/"><img alt="GRJ website administration" src="/static/img/favicon.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/admin/exhibition/">edit exhibitions</a></li>
            <li><a href="/admin/artist/">edit artists</a></li>
            <li><a href="/admin/image/">manage artworks</a></li>
            <li><a href="/admin/exhib-views/">manage internal exhibition views</a></li>
            <li><a href="/admin/artist-exhib-views/">manage external exhibition views</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/manage-gallery-info/">edit gallery info</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Session<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="" href="/" >view public website</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="" href="/logout">logout</a></li>
          </ul>
        </li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div id="banner" class="page-header">
          <h2>{% block title %}{% endblock %}<small><code> rodolphejanssen.com</code></small></h2>
        </div>
        <section>
            {% include 'helpers/_flashMessage.html' %}
            {% block body %}
            <p>Welcome to the administration tool for rodolphejanssen.com<br>
            From here you can create and edit exhibitions, add and modify artists, and manage the general gallery information page.</p>
            <!--<a class="btn btn-primary disabled" href="">Sync available info from Art Logic</a>-->
            {% endblock %}
        </section>
    </div>

    <script src="/static/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/static/js/vendor/moment.min.js"></script>
    <script src="/static/js/vendor/moment.min.js"></script>
    <script src="/static/js/vendor/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/vendor/bootstrap-switch.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.datepicker').datetimepicker({ format: 'DD-MM-YYYY' });
            $.fn.bootstrapSwitch.defaults.size = 'small';
            $.fn.bootstrapSwitch.defaults.onText = 'ONLINE';
            $.fn.bootstrapSwitch.defaults.offText = 'OFFLINE';
            $.fn.bootstrapSwitch.defaults.onColor = 'success';
            $.fn.bootstrapSwitch.defaults.labelWidth = '10px';


        });
    </script>
</body>
