<!DOCTYPE html>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/css/normalize.css" />
<link rel="stylesheet" href="/static/css/style.css" />



<title>{% block title %}{% endblock %}</title>

<head>
    <h1>Rodolphe Janssen</h1>
</head>
<nav class="main">
	<ul class="nav">
		<li><a href="">current</a></li>
		<li><a href="">upcoming</a></li>
		<li><a href="">past</a></li>
		<li><a href="/artists/">artists</a></li>
		<li><a href="">about</a></li>
		<li><a href="/login">login</a></li>
	</ul>
</nav>
<section>
    {% block body %}{% endblock %}
</section>

<script src="/static/js/jquery-1.11.2.js"></script>
<script src="/static/js/scripts.js"></script>