<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="shortcut icon" href="/static/img/favicon.png"/>



<title>Rodolphe Janssen | {% block title %}{% endblock %}</title>

<div class="wrapper">

	<header>
		<nav class="nav-collapse">
			<ul>
				<li><a href="/current/">current</a></li>
				<li><a href="">upcoming</a></li>
				<li><a href="">past</a></li>
				<li><a href="/artists/">artists</a></li>
				<li><a href="">about</a></li>
			</ul>
		</nav>	
		
		<div id="logo"><a href="/"><img src="../static/img/rj_logo.svg" alt="rodolphe janssen"></a></div>	
	</header>

	<div class="body">
		<section>
			{% block body %}{% endblock %}
		</section>
	</div>
</div>

<script src="/static/js/scripts.js"></script>
<script src="/static/_src/scripts/plugins/responsive-nav.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
      var navigation = responsiveNav(".nav-collapse", {
        animate: true,                    // Boolean: Use CSS3 transitions, true or false
        transition: 284,                  // Integer: Speed of the transition, in milliseconds
        label: "",                    // String: Label for the navigation toggle
        insert: "after",                  // String: Insert the toggle before or after the navigation
        customToggle: "",       		  // Selector: Specify the ID of a custom toggle
        closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
        openPos: "relative",              // String: Position of the opened nav, relative or static
        navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
        navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
        jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
        init: function(){},               // Function: Init callback
        open: function(){},               // Function: Open callback
        close: function(){}               // Function: Close callback
      });
    </script>
