<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="shortcut icon" href="/static/img/favicon.png"/>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/_src/scripts/plugins/paper-full.js"></script>

<body>
<title>Rodolphe Janssen
	{% block title %}{% endblock %}
</title>

<div class="wrapper">

	<header>
		<nav class="nav-collapse">
			<ul>
				<li class="{% block nav_current %}{% endblock %}"><a href="/current/">current</a></li>
				<li class="{% block nav_past %}{% endblock %}"><a href="/past/">past</a></li>
				<li class="{% block nav_upcoming %}{% endblock %}"><a href="/upcoming/">upcoming</a></li>
				<li class="{% block nav_artists %}{% endblock %}"><a href="/artists/">artists</a></li>
				<li class="{% block nav_gallery %}{% endblock %}"><a href="/gallery/">gallery</a></li>
			</ul>
		</nav>

		<div id="logo">
			<a href="/">
					<img id="logo__name" src="/static/img/RJ_logo_name.svg">
					<img id="logo__32" src="/static/img/RJ_logo_32.svg">
					<img id="logo__35" src="/static/img/RJ_logo_35.svg">
			</a>
		</div>
	</header>

	<div class="body">
		<section>
			{% block body %}{% endblock %}
		</section>
	</div>
</div>
<div class="clearfix"></div>

<script src="/static/_src/scripts/plugins/responsive-nav.min.js"></script>
<script src="/static/_src/scripts/plugins/jquery.sticky-kit.min.js"></script>
<script src="/static/_src/scripts/plugins/imagelightbox.js"></script>
<script src="/static/_src/scripts/scripts.js"></script>
<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20595680-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

</body>
