{% extends "admin.html" %}
{% from "helpers/_form.html" import render_field %}
{% block title %}
    log into the admin interface
{% endblock %}

{% block body %}
    {% include 'helpers/_flashMessage.html' %}
    <br>
    <br>
    <div class="panel panel-default col-md-4 col-md-offset-4">
      <div class="panel-body">
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      <button type="submit" class="btn btn-default">Log in</button>
    </div>
    </div>
    </form>
{% endblock %}
