{% extends "admin.html" %}
{% from "helpers/_form.html" import render_field %}
{% block title %}
    log into the admin interface
{% endblock %}

{% block body %}
    {% include 'helpers/_flashMessage.html' %}
    <h4>log into the admin interface</h4>
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      <button type="submit" class="btn btn-success">Log in</button>
    </form>
{% endblock %}
