// --------------------------------------------------
// ARTISTS
// --------------------------------------------------

.artist-block{
	@extend .col5__span1of5;
	@extend .col4__span1of4;
	@include full_on_mq_b;
	@extend .col2__span2of2;
	//
	margin-top: $margin_bottom;
	//
	@include mq-large{
		&:nth-of-type(5n){
			clear: right;
			@include last;
		}
		&:nth-of-type(-n+5){
			margin-top: 0;
		}
	}
	@include mq-medium{
		&:nth-of-type(4n){
			clear: right;
			@include last;
		}
		&:nth-of-type(-n+4){
			margin-top: 0;
		}
	}
	@include mq(b){
		margin-top: 5px;
		&:nth-of-type(n){
			margin-top: 5px;
		}
		&:first-of-type{
			margin-top: 0;
		}
	}
	a{
		display: inline-block;
		width: 100%;
	}
	a:hover{
		@include _hover;
	}
	&__image{
		width: 100%;
		padding-bottom: $image_ratio;
		@include background-cover;
		@include mq(b){
			display: none;
		}
	}
	p{
		margin-top: 8px;
		@include mq(b){
			@include adjust-font-size-to(18px);
			font-family: "Maax-Medium", Helvetica, sans-serif;
			margin-top: 0;
		}
	}
}