// --------------------------------------------------
// EXHIBITIONS
// --------------------------------------------------

.exhibitions-page{
	&:first-of-type{
		@extend .margin-top-on-mobile;
		.separation-rule.year:first-of-type{
			margin-top: $margin-top;
			@extend .not-mobile;
		}
	}
	.separation-rule{
		padding-top: $margin-bottom;
		margin-top: $margin-bottom;
		@include mq(b){
			padding-top: 14px;
		}
		&.year{
			margin-top: $margin-bottom * 3;
		}
		&.upcoming{
			margin-top: $margin-top;
		}
	}
}

.exhibition-block{
	//margin-bottom: $margin_bottom;
	a{
		display: inline-block;
		width: 100%;
	}
	a:hover{
		& > h1, & > h2, & > h4, & > .exhibition-block__image{
			@include _hover;
		}
	}
	&__image{
		@extend .col5__span1of5;
		@extend .col4__span1of4;
		@include mq(b){
			display: none;
		}
	}
	&__inside{
		width: 100%;
		padding-bottom: $image_ratio;
		@include background-cover;
	}
	&.upcoming{
		clear: both;
	}

	&:last-of-type{
		.separation-rule.light-border{
			display: none;
		}
	}
}

section.exhibition-year{
	div:last-child{
		margin-bottom: 0;
	}
}