// --------------------------------------------------
// GALLERY
// --------------------------------------------------
// Gallery Page (currently named About)


// :: Sections
// ------------------------------------------------------------

.gallery__left{
	@extend .col5__span3of5;
	@extend .col4__span2of4;
	@include full_on_mq_b;
	@extend .col2__span2of2;
}
.gallery__right{
	@extend .col5__span2of5;
	@extend .col4__span2of4;
	@include full_on_mq_b;
	@extend .col2__span2of2;
	@include last;
}


// :: Text-Block Gallery (Original in _single.scss)
// ------------------------------------------------------------

.gallery__left{ 
	.text-block{
		h5{
			@extend .col5__span1of3;
			@extend .col4__span2of2;
			@include full_on_mq_b;
			@extend .col2__span2of2;	
		}
		p{
			@extend .col5__span2of3;
			@extend .col4__span2of2;
			@include full_on_mq_b;
			@extend .col2__span2of2;
			@include last;
		}
		a{
			color: $gray-3;
			border-bottom: none;
		}
	}
}

// :: Contact
// ------------------------------------------------------------

.staff_member{
	margin-bottom: $margin-bottom;
	h3{
		display: inline;
	}
	&__title{
		display: inline;		
	}
	&__mail{
		@extend .font-mono;
		@include adjust-font-size-to($base-font-size);
		a{
			color: $gray-3;
			&:hover{
				@include _hover;
			}
		}
	}
}


// :: Nexsletter Field
// ------------------------------------------------------------

.newsletter{
	@include last;
	@extend .col5__span2of3;
	@extend .col4__span2of2;
	@include mq-medium-b{
		@include span(3 of 4);
		@include first;
	}
	@extend .col2__span2of2;
	input{
		@include adjust-font-size-to($base-font-size);
		width: 39%;
		@extend .font-body;
		padding: 1px;
		margin: 0;
		margin-right: 1%;
		box-sizing: border-box;
		&:focus{
			outline-style: solid;
			outline-width: 2px;
			outline-color: $gray-4;
		}
	}
	button.newsletter__button{
		@include adjust-font-size-to($base-font-size);
		width: 39%;
		@extend .font-body;
		cursor: pointer;
		background-color: $white;
		border-width: 1px;
		border-style: solid;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		border-radius: 0;
		width: 20%;
		margin-right: 0;
		padding: 2px;
		box-sizing: border-box;
		&:focus{
			outline-width: 0;
			border-color: $gray-4;
		}
		&:active{
		}
		&:hover{
			opacity: $links-opacity;
		}
	}
}


// :: Social Medias
// ------------------------------------------------------------

.social_media_icon{
	margin-right: 14px;
	opacity: 0.9;
	width: 18px;
	&:hover{
		@include _hover;
	}
	img{
		width: 18px;
	}
}

.social_media_title{
	padding-top: 2px;
	@include mq(b){
		padding-top: 0;
	}
}

// :: Colophon
// ------------------------------------------------------------

.colophon{
	margin-top: 60px;
	margin-bottom: -20px;
	p{
		@extend .font-mono;
		@include adjust-font-size-to(10px);
		color: $gray-4;
		margin-bottom: -1px;
		a{
			color: $gray-4;
			&:hover{
				color: $gray-3;
			}
		}
	}
}
