// --------------------------------------------------
// HOME
// --------------------------------------------------

.homepage-exhibition{
	@include mq-large{
		width: (50% - (gutter(6) / 2));
		margin-right: gutter(6);
		float: left;
	}
	@extend .col4__span2of4;
	@extend .col2__span2of2;
	@include mq(c){
		margin-bottom: 40px;
	}
	&:nth-of-type(2){
		@include last;
	}
	&__landing{
		height: 0;
		width: 100%;
		padding-bottom: $image_ratio;
		background-color: rgb(240,240,240);
		position: relative;
		&--text{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		&--center{
			@include vertical-align;
			p{
				text-align: center;
				@extend .font-bold;
				@include adjust-font-size-to(25px);
				@include mq(a){
					@include adjust-font-size-to(20px);	
				}
				@include mq(b){
					@include adjust-font-size-to(17px);
				}
				@include mq(c){
					@include adjust-font-size-to(20px);
				}
			}
			h4{
				text-align: center;
				@include mq(a){
					@include adjust-font-size-to(11px);	
				}
				@include mq(b){
					@include adjust-font-size-to(10px);	
				}
				@include mq(c){
					@include adjust-font-size-to(11px);	
				}
			}
		}
	}
	&__inside{
		height: 0;
		width: 100%;
		padding-bottom: $image_ratio;
		@include background-cover;
	}
	&__text{
		margin-top: 20px;
		display: inline-block;
		h5{
			margin-bottom: 0;
		}
		&--dash{
			@extend h2;
			margin-top: -2px;
			margin-bottom: -3px;
		}
		&--line{
			width: 10px;
			height: 0;
			margin-top: 9px;
			margin-bottom: 9px;
			border-top: $rule-style
		}
		&:hover{
			@include _hover;
		}
	}
}

.homepage-exhibition.homepage-exhibition--3 {
	@include mq-large{
		width: ((100% / 3) - (gutter(6) / 3 * 2));
		margin-right: gutter(6);
		float: left;
		&:nth-of-type(2){
			float: left;
			margin-right: gutter(6);
		}
		&:nth-of-type(3){
			@include last;
		}
	}
	@include mq-medium{
		width: ((100% / 3) - (2.85714% / 3 * 2));
		margin-right: 2.85714%;
		float: left;
		&:nth-of-type(2){
			float: left;
			margin-right: 2.85714%;
		}
		&:nth-of-type(3){
			@include last;
		}
	}
}

.triptych-wrapper{
	@include mq-large{
		min-height: calc(100vh - #{40px + 33px + 80px + 80px + 20px + 6px});
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	@include mq-medium{
		min-height: calc(100vh - #{40px + 33px + 80px + 80px + 20px + 6px});
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
}

.triptych-inside{
	width: 100%;
}
