// --------------------------------------------------
// HOME
// --------------------------------------------------

.homepage-exhibition{
	@include mq-large{
		width: (50% - (gutter(6) / 2));
		margin-right: gutter(6);
		float: left;
	}
	@extend .col4__span2of4;
	@extend .col2__span2of2;
	@include mq(c){
		margin-bottom: 40px;
	}
	&:nth-of-type(2){
		@include last;
	}
	&__landing{
		height: 0;
		width: 100%;
		padding-bottom: $image_ratio;
		background-color: rgb(240,240,240);
		position: relative;
/*
		&--text{
			@include vertical-align;
				p{
					text-align: center;
					@extend .font-bold;
					@include adjust-font-size-to(25px);
				}
				h4{
					text-align: center;
				}
		}
*/
	}
	&__inside{
		height: 0;
		width: 100%;
		padding-bottom: $image_ratio;
		@include background-cover;
	}
	&__text{
		margin-top: 20px;
		display: inline-block;
		h5{
			margin-bottom: 0;
		}
		&--dash{
			@extend h2;
			margin-top: -2px;
			margin-bottom: -3px;
		}
		&--line{
			width: 10px;
			height: 0;
			margin-top: 9px;
			margin-bottom: 9px;
			border-top: $rule-style
		}
		&:hover{
			@include _hover;
		}
	}
}
