// --------------------------------------------------
// LAYOUT
// --------------------------------------------------


@include border-box-everywhere;
@include establish-baseline($base-font-size);


// :: Basic Elements
// ------------------------------------------------------------

body, html{
	position: relative;
	height: 100%;
	//
	color: black;
}

body{
	margin: 0;
	width: 100%;
	min-width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	//
	font-family: $base-ff;
	font-weight: 400;
	font-style: normal;
	line-height: inherit;
}

.chromeframe{
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: red;
	color: white;
	//+adjust-font-size-to(14px, .75);
}

.container{
	width: 90%;
	margin: 0 auto;
}

div.body{
	clear: both;
	padding-top: $bru*2;
}



// :: Links
// ------------------------------------------------------------

a{
	color: $body-color;
	text-decoration: none;
	&:visited, &:active, &:hover{
		color: $body-color;
	}
	&.active{
		cursor: default;
	}
	.no-touch &[href^='tel:']{
		text-decoration: none !important;
		cursor: default;
	}
}



// :: Typography
// ----------------------------------------------------------------------------------------

// BODY TEXT
p{
}

// HEADINGS
h1, h2, h3, h4, h5, h6{
}