// --------------------------------------------------
// LAYOUT
// --------------------------------------------------


@include border-box-everywhere;
@include establish-baseline($base-font-size);


// :: Basic Elements
// ------------------------------------------------------------

body, html{
	position: relative;
	height: 100%;
	color: $body-color;
	background-color: $background-color;
}

body{
	margin: 0;
	width: 100%;
	min-width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	//
	@extend .font-body;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 400;
	font-style: normal;
	line-height: inherit;
	@include adjust-font-size-to($base-font-size);
}

.chromeframe{
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: red;
	color: white;
	//+adjust-font-size-to(14px, .75);
}

.wrapper{
	width: 95%;
	max-width: $max-vp;
	margin: 0 auto;
	padding-bottom: 80px;
	min-height: 100%;
	@include clearfix;
	@include mq(a){
		width: 94%;
	}
	@include mq(b){
		width: 92%;
	}
	@include mq(c){
		width: 88%;
	}
}

.subcontent{
	@extend .col5__span4of5;
	@extend .col4__span3of4;
	@extend .col2__span2of2;
	margin-right: 0;
	&__all-col{
		@extend .col5__span4of4;
		@extend .col4__span3of3;
		@extend .col2__span2of2;
	}
}

.not-mobile{
	@include mq(c){
		display: none;
	}
}

.no-margin-top{
	margin-top: -($margin_top);
}

.separation-rule{
	border-top: $rule-style;
	margin-top: $margin_top;
	padding-top: $margin_bottom;
	&.light-border{
		border-top-color: $gray-4;
	}
}


// :: Typography
// ----------------------------------------------------------------------------------------

// BODY TEXT
p{
}

// HEADINGS
h1, h2{
}

h1{
	@extend .font-bold;
	@include adjust-font-size-to(18px);
}

h2{
	@include adjust-font-size-to(16px);
	margin-top: -4px;
}

h3{
	@extend .font-bold;
	@include adjust-font-size-to(13px);
}

h4, h5, h6{
	@extend .font-mono;
	text-transform: uppercase;
}

h4{
	@include adjust-font-size-to($base-font-size);
	margin-top: -1px;
}

h5{
	@include adjust-font-size-to(11px);
	margin-bottom: $h5_margin_bottom;
}


// :: Links
// ------------------------------------------------------------

a{
	color: $body-color;
	text-decoration: none;
	&:visited, &:active, &:hover{
		color: $body-color;
	}
	&:active{
		opacity: ($links-opacity + 0.2);
	}
	.no-touch &[href^='tel:']{
		text-decoration: none !important;
		cursor: default;
	}
}


// :: Selection
// ----------------------------------------------------------------------------------------

::selection			{background: $highlight-color;}
::-moz-selection	{background: $highlight-color;}
a:focus				{outline: none;}


// :: Text Block
// ------------------------------------------------------------

.text-block{
	@extend .clearfix;
	margin-bottom: $margin_bottom;
	&.no-margin-bottom{
		margin-bottom: 0;
	}
	h1{
		@extend h5;
		@extend .col5__span1of4;
		@extend .col4__span1of3;
		@include full_on_mq_b;
		@extend .col2__span2of2;
		clear: both;
	}
	h2{
		@include adjust-font-size-to(11px);
		@extend .font-bold;
		@extend .col5__span3of4;
		@extend .col4__span2of3;
		@include full_on_mq_b;
		@extend .col2__span2of2;
		@extend .last;
		margin-bottom: $margin_bottom / 3;
		margin-top: $margin_top / 2;
		&:first-of-type{
			margin-top: 0;
			@include mq(b){
				margin-top: $margin_top / 2;
			}
		}
	}
	i, em{
		font-style: italic;
	}
	b{
		font-weight: bold;
	}
	&.artist-bio-text{
		p{
			margin-bottom: 0;
		}
	}
	&.artist-exhibition-list{
		max-height: 250px;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		h2:first-of-type{
			margin-top: $margin_top / 2;
		}
		h1{
			margin-top: $margin_top;
			& + h2, & + p{
				margin-top: $margin_top;
				@include mq(b){
					margin-top: 0;
				}
			}
			&:first-of-type, &:first-of-type + h2, &:first-of-type + p{
				margin-top: 0;
			}
		}
		.bottom-gradient{
			 position: absolute;
			 bottom: 0;
			 left: 0;
			 width: 100%;
			 @include background-image(linear-gradient(rgba(255,255,255,0), white));
			 height: 50px;
		}
		&.list-open{
			max-height: none;
			.bottom-gradient{
				 background-image: linear-gradient(to bottom, transparent, transparent);
			}
		}
		p{
			margin-bottom: 0;
			padding-left: 25px;
			&:before{
				content: "\2014 ";
				width: 25px;
				margin-right: 14px;
				margin-left: -25px;
			}
		}
	}
	p, .iframe-wrapper{
		@extend .col5__span3of4;
		@extend .col4__span2of3;
		@include full_on_mq_b;
		@extend .col2__span2of2;
		@extend .last;
		margin-bottom: $p_margin_bottom;
		&:last-of-type{
			margin-bottom: 0;
		}
		a{
			border-bottom: 1px solid $body-color;
			padding-bottom: 1px;
			&:hover{
				@include _hover;
			}
		}
	}
}

#collapse-button{
	@extend .col5__span3of4;
	@extend .col4__span2of3;
	@include full_on_mq_b;
	@extend .col2__span2of2;
	@extend .last;
	a{
		border-bottom: 1px solid transparent;
		display: inline-block;
		&:before{
			content: "Click to expand and read more";
		}
		&.list-open:before{
			content: "Click to collapse";
		}
		&:hover{
			@include _hover;
			border-bottom-color: $body-color;
		}
	}
}


// :: Download Block
// ------------------------------------------------------------

.download-block{
	margin-bottom: $margin_bottom;
	@extend .clearfix;
	h1{
		@extend h5;
		@extend .col5__span1of4;
		@extend .col4__span1of3;
		@extend .col2__span2of2;
	}
	h3{
		display: inline-block;
	}
	&__text{
		@extend .col5__span3of4;
		@extend .col4__span2of3;
		@extend .col2__span2of2;
		@extend .last;
	}
	&__details{
		display: inline;
		margin-left: 8px;
	}
	a{
		border-bottom: 1px solid transparent;
		display: inline-block;
		&:hover{
			@include _hover;
			border-bottom-color: $body-color;
		}
	}
}
