// --------------------------------------------------
// LIGHTBOX
// --------------------------------------------------
// Styles for the Lightbox

// :: General
// ------------------------------------------------------------

#imagelightbox{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

#imagelightbox-overlay{
	background-color: rgba( 255, 255, 255, .98 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// :: Buttons
// ------------------------------------------------------------

#imagelightbox-close {
    @include adjust-font-size-to(12px);
    @extend .font-mono;
    text-align: right;
    position: fixed;
    z-index: 10002;
    top: 15px;
    right: 15px;
    &:hover{
	    cursor: pointer;
	    @include _hover;
    }
}

.imagelightbox-arrow {
    width: 15%;
    display: none;
    position: fixed;
    z-index: 10001;
    bottom: 0;
    @include adjust-font-size-to(12px);
    @extend .font-mono;
    p{
	    @include vertical-align;
	    padding-bottom: 5px;
    }
    &:hover{
	    cursor: pointer;
	    @include _hover;
    }
    @include mq(a){
	    width: 25%;
    }
    @include mq(c){
	    display: none !important;
    }
}

.imagelightbox-arrow-right {
    right: 0;
    padding-right: 15px;
    text-align: right;
}

.imagelightbox-arrow-left {
    left: 0;
    padding-left: 15px;
}


// :: Text
// ------------------------------------------------------------

#slider-text-box{
	min-height: 40px;
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10000;
	border-top: $rule-style;
	@include mq(a){
		min-height: 74px;
	}
	@include mq(c){
		min-height: 93px;
	}
	#imagelightbox-caption {
	    text-align: center;
	    z-index: 10001;
	    margin-left: 15%;
	    margin-right: 15%;
	    bottom: 0;
	    width: 70%;
	    padding: 8px;
	    @include mq(a){
		    width: 50%;
		    margin-left: 25%;
			margin-right: 25%;
	    }
	    @include mq(c){
		    width: 80%;
		    margin: 0 10%;
		    text-align: left;
	    }
	}
	p{
		display: inline-block;
		@include adjust-font-size-to(12px);
		color: black;
		@extend .font-mono;
		white-space: nowrap;
		@include mq(c){
			white-space: inherit;
		}
		&:after{
			content: "\00a0/\00a0";
		}
		&:last-of-type:after{
			content: none;
		}
	}
}