// --------------------------------------------------
// LIGHTBOX
// --------------------------------------------------
// Styles for the Lightbox

#imagelightbox{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

#imagelightbox-overlay{
	background-color: rgba( 255, 255, 255, .98 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#imagelightbox-close {
   
    font-size: 13px;
    @extend .font-mono;
    text-align: right;
    position: fixed;
    z-index: 10002;
    top: 15px;
    right: 15px;
    &:hover{
	    cursor: pointer;
	    opacity: 0.8;
    }
}

.imagelightbox-arrow {
    width: 10%;
    height: 30px;
    //background-color: #444;
    display: none;
    position: fixed;
    z-index: 10001;
    bottom: 0;
    font-size: 13px;
    @extend .font-mono;
    &:hover{
	    cursor: pointer;
	    opacity: 0.8;
    }
}

.imagelightbox-arrow-right {
    right: 0;
    padding-right: 15px;
    text-align: right;
}

.imagelightbox-arrow-left {
    left: 0;
    padding-left: 15px;
}


#slider-text-box{
	min-height: 40px;
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10000;
	border-top: $rule-style;
	#imagelightbox-caption {
	    text-align: center;
	    z-index: 10001;
	    margin-left: 10%;
	    margin-right: 10%;
	    bottom: 0;
	    width: 80%;
	    padding: 8px;
	}
	p{
		display: inline;
		color: black;
		@extend .font-mono;
		&:before{
			content: " / ";
		}
		&:first-of-type:before{
			content: none;
		}
	}
}