// --------------------------------------------------
// SINGLE
// --------------------------------------------------
// Styles for Single Exhibition and Single Artist


// :: Image Grid
// ------------------------------------------------------------

.image-block{
	@extend .col5__span1of4;
	@extend .col4__span1of3;
	@extend .col2__span1of2;
	margin-top: $p_margin_bottom;
	//
	@include mq-large{
		&:nth-of-type(-n+4){
			margin-top: 0;
		}
		&:nth-of-type(4n){
			@include last;
		}
	}
	@include mq-medium{
		&:nth-of-type(-n+3){
			margin-top: 0;
		}
		&:nth-of-type(3n){
			@include last;
		}
	}
	@include mq-small{
		&:nth-of-type(-n+2){
			margin-top: 0;
		}
		&:nth-of-type(2n){
			@include last;
		}
	}
}


//Test 
.image-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img{
	  height: 150px;
	  max-width: 400px;
  }
}


// :: Sections
// ------------------------------------------------------------

section.informations{
	div:last-child{
		margin-bottom: 0;
	}
}


// :: Download Block
// ------------------------------------------------------------

.download-block{
	margin-bottom: $margin_bottom;
	@extend .clearfix;
	h2{
		@extend h5;
		@extend .col5__span1of4;
		@extend .col4__span1of3;
		@extend .col2__span2of2;
	}
	h3{
		display: inline;
	}
	&__text{
		@extend .col5__span3of4;
		@extend .col4__span2of3;
		@extend .col2__span2of2;
		@extend .last;
	}	
	&__details{
		display: inline;
		margin-left: 8px;
	}
	a{
		border-bottom: 1px solid transparent;
		padding-bottom: 3px;
		&:hover{
			@include _hover;
			border-bottom-color: $body-color;
		}
	}
}