// --------------------------------------------------
// SINGLE
// --------------------------------------------------
// Styles for Single Exhibition and Single Artist


// :: Image Grid
// ------------------------------------------------------------

.image-block{
	@extend .col5__span1of4;
	@extend .col4__span1of3;
	@extend .col2__span1of2;
	margin-top: $p_margin_bottom;
	a{
		display: inline-block;
		width: 100%;
	}
	a:hover{
		@include _hover;
	}
	&__inside{
		height: 0;
		width: 100%;
		padding-bottom: $image_ratio;
		@include background-cover;
	}
	&__informations{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 12px;
		@include mq-small{
			flex-direction: column;
		}
	}
	&__text{
		flex-grow: 1;
		h5{
			text-transform: none;
			@include adjust-font-size-to(12px);
			line-height: 1.5;
			margin-bottom: 0;
		}
	}
	&__link{
		margin-left: 10px;
		@include mq-small{
			flex-direction: column;
			margin-left: 0;
			margin-top: 6px;
		}
		a{
			border-bottom: 1px solid $black;
		}
	}
	//
	@include mq-large{
		&:nth-of-type(-n+4){
			margin-top: 0;
		}
		&:nth-of-type(4n){
			@include last;
		}
	}
	@include mq-medium{
		&:nth-of-type(-n+3){
			margin-top: 0;
		}
		&:nth-of-type(3n){
			@include last;
		}
	}
	@include mq-small{
		&:nth-of-type(-n+2){
			margin-top: 0;
		}
		&:nth-of-type(2n){
			@include last;
		}
	}
}

.image-block--virtual{
	@extend .col5__span2of4;
	@extend .col2__span2of2;
	margin-top: 32px;
	//
	@include mq-large{
		&:nth-of-type(3),
		&:nth-of-type(4){
			margin-top: 32px;
		}
		&:nth-of-type(2n){
			@include last;
		}
		&:nth-of-type(2n + 1){
			clear: both;
		}
	}
	@include mq-medium{
		width: (50% - (3.84615% / 2));
		&:nth-of-type(3){
			margin-top: 32px;
		}
		&:nth-of-type(2n){
			@include last;
		}
		&:nth-of-type(2n + 1){
			clear: both;
			float: left;
			margin-right: 3.84615%;
		}
	}
	@include mq-small{
		@include last;
		&:nth-of-type(2){
			margin-top: 32px;
		}
	}
}

.title-block{
	@include mq(c){
		margin-bottom: $margin-bottom;
	}
}

.margin-top-on-mobile{
	@include mq(c){
		padding-top: 40px;
	}
}

.group-exhibition-artists{
	@include column-count(4);
	@include column-gap(gutter(4));
	@include mq(a){
		@include column-count(3);
	}
	@include mq(b){
		@include column-count(1);
	}
	a{
		&:after{
			content: " \2022";
			margin-left: 5px;
		}
		&:hover{
			@include _hover;
		}
	}
	p{
		@extend .font-bold;
		@include adjust-font-size-to(15px);
		line-height: 1.8;
	}
}


// :: Sections
// ------------------------------------------------------------

section.informations{
	div:last-child{
		margin-bottom: 0;
	}
}