// --------------------------------------------------
// TEST
// --------------------------------------------------
// styles made for testing - should be deleted at some point

.container{
	div{
		text-align: center;
		color: white;
		background: rgba(229,229,229,0.65);
	}
}