{% block body %}
{% from "helpers/_form.html" import render_field, upload_field, render_uploadfield, bound_upload_field %}
<div class="col-md-12">
  <form action="" method="post" enctype="multipart/form-data" id="artistForm">
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.artist_sort) }}
    <hr>
    {{ bound_upload_field('images', 'Artworks') }}
    <hr>
    {{ upload_field('coverimage', 'Cover Image', coverimage) }}
    <hr>
    <div class="container-fluid">
    <div class="row">
      <div class="form-group">
        <div class="col-xs-6">
          <label class="control-label">about the artist info text</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_artist_info(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_artist_info(only_preview=True) }}
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-6">
          <label class="control-label">Artist bio</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_artist_bio(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_artist_bio(only_preview=True) }}
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-6">
          <label class="control-label">Artist exhibition list</label> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#headers">markdown enabled</a>
          {{ form.wysiwig_artist_exhibitions_list(only_input=True, rows=20) }}
        </div>
        <div class="col-xs-6">
          <label>&larr; Text preview</label>
          {{ form.wysiwig_artist_exhibitions_list(only_preview=True) }}
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <h4>Press release pdf</h4>
        {{ render_uploadfield(form.press_release) }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>Biography file</h4>
        {{ render_uploadfield(form.biography_file) }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>media link 1</h4>
      </div>
        <div class="col-sm-6">
          {{ render_field(form.link_name1) }}
        </div>
        <div class="col-sm-6">
          {{ render_field(form.link_url1) }}
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>media link 2</h4>
      </div>
        <div class="col-sm-6">
          {{ render_field(form.link_name2) }}
        </div>
        <div class="col-sm-6">
          {{ render_field(form.link_url2) }}
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>media link 3</h4>
      </div>
        <div class="col-sm-6">
          {{ render_field(form.link_name3) }}
        </div>
        <div class="col-sm-6">
          {{ render_field(form.link_url3) }}
        </div>
    </div>
    <hr>

    <div class="col-sm-12">
    <p><code>fields marked with a * are required</code></p>
    </div>
    <button type="submit" class="btn btn-default" id="submit-button">Submit</button>
    <button class="btn btn-default hide" disabled="disabled" id="processing-button"><span class="glyphicon glyphicon-refresh spin" aria-hidden="true"></span>&nbsp;Processing...</button>
</form>
<script type="text/javascript" src="/static/js/upload.js"></script>
<script type="text/javascript">
    {% autoescape false %}
    var images = JSON.parse('{{ images }}');
    var preselectedImages = JSON.parse('{{ selected_images }}');
    {% endautoescape %}
    
    
    var preselectedImagesSort = function (a, b) {
        var index_a = preselectedImages.indexOf(a),
            index_b = preselectedImages.indexOf(b);
            
        // a is selected
        if (index_a > -1) {
            if (index_b > -1 && index_a > index_b) {
                return 1;
            }
            
            // a is selected, but b isn't, or b is bigger
            return -1
        }
        // a is not selected, but b is
        else if (index_b > -1) {
            return 1;
        }
        
        // Both unselected, equal
        return 0;
    };
    
    images.sort(preselectedImagesSort);

    window.addEventListener("load", function () {
        var form = new Form($('form#artistForm')),
        imageField = form.addBoundUploadField("images");
        form.addUploadField("coverimage");
        
        for (var i=0; i< images.length;i++) {
            var img = images[i],
                path = images[i],
                thumb = imageField.addThumbnail('/' + path);
            
            thumb.$el.find('input[type=hidden]').attr('value', path);
            
            if (preselectedImages.indexOf(path) < 0) {
                thumb.delete();
            }
        }
    }, false);
</script>
</div>
{% endblock %}
