/* line 4, libs/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, libs/_reset.scss */
a img {
  border: none;
}

/* line 12, libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@font-face {
  font-family: "rj_regular";
  src: url(/assets/fonts/RJMaax.otf) format('opentype');
}

@font-face {
  font-family: "rj_bold";
  src: url(/assets/fonts/RJMaax-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: "rj_mono";
  src: url(/assets/fonts/RJMaaxMono.ttf) format('truetype');
}

/* line 53, libs/_settings.scss */
.font-body, body, .title, input, .btn {
  font-family: 'rj_regular', Helvetica, Arial, sans-serif;
}

/* line 54, libs/_settings.scss */
.font-bold, h3, .title__artist, .presentation .presentation__text.dl, .past-exhibition .past-exhibition-single .past-exhibition__text .title__exhibition, .past-exhibition .past-exhibition-single a .past-exhibition .title__exhibition, .past-exhibition a .past-exhibition-single .past-exhibition__text .title__exhibition, .past-exhibition a .past-exhibition-single a .past-exhibition .title__exhibition, .exhibition-list .single-exhibition .title__artist, .group_artist--col {
  font-family: 'rj_bold', Helvetica, Arial, sans-serif;
}

/* line 55, libs/_settings.scss */
.font-var, .title__date, .exhibition-list .single-exhibition .past-exhibition__text .title__dash, .past-exhibition__text .title__dash, .nav-container, .presentation h2, .past-exhibition .past-exhibition-single .past-exhibition__text .title__date, .past-exhibition .past-exhibition-single a .past-exhibition .title__date, .past-exhibition a .past-exhibition-single .past-exhibition__text .title__date, .past-exhibition a .past-exhibition-single a .past-exhibition .title__date, .contact h2, .var, a .monospaced {
  font-family: 'rj_mono', monospace;
}

/* line 61, libs/_settings.scss */
p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.6em;
}

/* line 62, libs/_settings.scss */
ul {
  list-style-type: none;
}

/* line 63, libs/_settings.scss */
ol {
  list-style-type: none;
}

/* line 64, libs/_settings.scss */
li {
  line-height: inherit;
}

/* line 65, libs/_settings.scss */
strong, b {
  font-weight: bold;
}

/* line 66, libs/_settings.scss */
em, i, q {
  font-style: italic;
}

/* line 6, libs/_forms.scss */
label, legend, select {
  display: block;
}

/* line 11, libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 15, libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 22, libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 36, libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 41, libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 48, libs/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ::Modules */
/* ------------------------------------------------------------ */
/* line 6, modules/_base.scss */
html {
  font-size: 100%;
}

/* line 8, modules/_base.scss */
body {
  color: #323232;
}

/* line 13, modules/_base.scss */
.big_wrap {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto 50px auto;
  background-color: white;
}
@media only screen and (max-width: 950px) {
  /* line 13, modules/_base.scss */
  .big_wrap {
    width: 94%;
  }
}
@media only screen and (max-width: 750px) {
  /* line 13, modules/_base.scss */
  .big_wrap {
    width: 92%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 13, modules/_base.scss */
  .big_wrap {
    width: 88%;
  }
}

/* line 29, modules/_base.scss */
p {
  font-size: 0.8125em;
  line-height: 1.35385em;
  margin-bottom: 10px;
}

/* line 31, modules/_base.scss */
li {
  font-size: 0.8125em;
  line-height: 1.35385em;
}

/* line 33, modules/_base.scss */
a {
  text-decoration: none;
}

/* line 36, modules/_base.scss */
p a,
li a {
  color: #323232;
}
/* line 48, libs/_mixins.scss */
p a:hover, p a:active,
li a:hover,
li a:active {
  color: #aaaaaa;
}

/* line 48, modules/_base.scss */
h3 {
  font-size: 0.8125em;
  line-height: 1.35385em;
}

/* line 53, modules/_base.scss */
::selection {
  background: #f0f0f0;
}

/* line 54, modules/_base.scss */
::-moz-selection {
  background: #f0f0f0;
}

/* line 55, modules/_base.scss */
a:focus {
  outline: none;
}

/* line 5, modules/_navigation.scss */
header {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 90px;
}
@media only screen and (max-width: 750px) {
  /* line 5, modules/_navigation.scss */
  header {
    margin-bottom: 70px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 500px) {
  /* line 5, modules/_navigation.scss */
  header {
    margin-bottom: 50px;
    margin-top: 0;
  }
}

/* line 20, modules/_navigation.scss */
#logo {
  width: 280px;
  height: auto;
  float: left;
}
@media only screen and (max-width: 750px) {
  /* line 20, modules/_navigation.scss */
  #logo {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 20, modules/_navigation.scss */
  #logo {
    width: 220px;
    margin-top: 20px;
  }
}

/* line 35, modules/_navigation.scss */
nav {
  float: right;
  margin-top: 3px;
}
@media only screen and (max-width: 750px) {
  /* line 35, modules/_navigation.scss */
  nav {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 44, modules/_navigation.scss */
nav ul {
  height: 30px;
}
@media only screen and (max-width: 750px) {
  /* line 44, modules/_navigation.scss */
  nav ul {
    height: auto;
  }
}
/* line 49, modules/_navigation.scss */
nav li {
  display: inline;
  font-size: 0.9375em;
  line-height: 1.46667em;
  letter-spacing: 1px;
  margin-right: 25px;
  color: #323232;
}
@media only screen and (max-width: 950px) {
  /* line 49, modules/_navigation.scss */
  nav li {
    font-size: 0.875em;
    line-height: 1.57143em;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 49, modules/_navigation.scss */
  nav li {
    display: block;
    margin-bottom: 10px;
  }
}
/* line 63, modules/_navigation.scss */
nav li:last-of-type {
  margin-right: 0;
}
/* line 66, modules/_navigation.scss */
nav li a {
  color: #323232;
}
/* line 69, modules/_navigation.scss */
nav li a:hover {
  border-bottom: 1px solid;
  padding-bottom: 6px;
  color: #323232;
}
/* line 74, modules/_navigation.scss */
nav li .selected {
  border-bottom: 1px solid;
  padding-bottom: 6px;
}
/* line 77, modules/_navigation.scss */
nav li .selected:hover {
  border-bottom: 1px dotted;
}

/* line 88, modules/_navigation.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 97, modules/_navigation.scss */
.nav-collapse.opened {
  max-height: 9999px !important;
}

/* line 101, modules/_navigation.scss */
.js .nav-collapse-0.opened {
  max-height: 999999px !important;
}

/* line 105, modules/_navigation.scss */
.disable-pointer-events {
  pointer-events: none !important;
}

/* line 109, modules/_navigation.scss */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  margin-top: 20px;
  float: right;
  width: 40px;
  height: 30px;
  padding: 15px 2px 5px 20px;
  background: url("/assets/icons/hamburger.svg") no-repeat right top;
}

/* line 127, modules/_navigation.scss */
.nav-collapse.closed {
  position: relative !important;
  padding: 0;
  border-bottom: none;
}

/* line 48, libs/_mixins.scss */
a#nav-toggle:hover, a#nav-toggle:active {
  background-color: transparent;
  opacity: 0.4;
}

/* line 141, modules/_navigation.scss */
.nav-toggle.active {
  opacity: 0.8;
  border-bottom: none;
}

@media screen and (min-width: 750px) {
  /* line 147, modules/_navigation.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 150, modules/_navigation.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 153, modules/_navigation.scss */
  .nav-toggle {
    display: none;
  }
}
/* line 5, modules/_single.scss */
section {
  width: 100%;
  display: inline-block;
}

/* line 11, modules/_single.scss */
.wrapper {
  width: 80%;
  float: left;
  display: inline-block;
}
@media only screen and (max-width: 950px) {
  /* line 11, modules/_single.scss */
  .wrapper {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 11, modules/_single.scss */
  .wrapper {
    width: 100%;
  }
}

/* line 23, modules/_single.scss */
.wrapper.hundred {
  width: 100%;
}

/* line 27, modules/_single.scss */
.title {
  margin-bottom: 0;
}
@media only screen and (max-width: 500px) {
  /* line 27, modules/_single.scss */
  .title {
    margin-bottom: 20px;
  }
}
/* line 32, modules/_single.scss */
.title p {
  margin-bottom: 0;
}

/* line 37, modules/_single.scss */
.title__artist {
  font-size: 1.125em;
  line-height: 1.22222em;
  text-transform: lowercase;
}

/* line 43, modules/_single.scss */
.title__exhibition {
  font-size: 1em;
  line-height: 1.375em;
  text-transform: lowercase;
}

/* line 52, modules/_single.scss */
.exhibition-list .single-exhibition .past-exhibition__text .title__dash, .past-exhibition__text .title__dash {
  margin-top: -4px;
  margin-bottom: -2px;
}

/* line 58, modules/_single.scss */
#container {
  width: 100%;
}

/* line 62, modules/_single.scss */
.nav-container {
  margin-top: 20px;
  width: 17.5%;
  float: right;
  font-size: 0.8125em;
  line-height: 1.35385em;
  text-transform: uppercase;
  text-align: right;
  border-top: 1px dashed grey;
  padding-top: 10px;
}
@media only screen and (max-width: 950px) {
  /* line 62, modules/_single.scss */
  .nav-container {
    width: 21%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 62, modules/_single.scss */
  .nav-container {
    width: 100%;
    text-align: left;
    margin-top: 0;
    border-bottom: 1px dashed grey;
    padding-bottom: 10px;
    background-color: white;
  }
  /* line 82, modules/_single.scss */
  .nav-container li {
    display: inline;
    margin-right: 15px;
  }
}
/* line 87, modules/_single.scss */
.nav-container li {
  margin-bottom: 3px;
}
@media only screen and (max-width: 500px) {
  /* line 89, modules/_single.scss */
  .nav-container li a {
    padding-bottom: 3px;
  }
}
/* line 91, modules/_single.scss */
.nav-container li a:hover {
  color: #323232;
}
@media only screen and (max-width: 500px) {
  /* line 91, modules/_single.scss */
  .nav-container li a:hover {
    border-bottom: 1px solid black;
  }
}
/* line 96, modules/_single.scss */
.nav-container li a:hover:before {
  content: "→ ";
}
@media only screen and (max-width: 500px) {
  /* line 96, modules/_single.scss */
  .nav-container li a:hover:before {
    content: "";
  }
}

@media only screen and (max-width: 500px) {
  /* line 107, modules/_single.scss */
  .nav-container.is_stuck {
    border-top: none;
  }
}

/* line 113, modules/_single.scss */
.active {
  color: #323232;
}
@media only screen and (max-width: 500px) {
  /* line 113, modules/_single.scss */
  .active {
    border-bottom: 1px solid black;
  }
}
/* line 118, modules/_single.scss */
.active:before {
  content: "→ ";
}
@media only screen and (max-width: 500px) {
  /* line 118, modules/_single.scss */
  .active:before {
    content: "";
  }
}

/* line 124, modules/_single.scss */
.f-nav {
  position: fixed;
  margin-top: 0px;
  right: 0;
}

/* line 130, modules/_single.scss */
.image-grid {
  width: 100%;
  display: inline-table;
}
@media only screen and (max-width: 500px) {
  /* line 130, modules/_single.scss */
  .image-grid {
    padding-top: 30px;
  }
}
/* line 136, modules/_single.scss */
.image-grid img, .image-grid .grid-sizer {
  width: 23.125%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  float: left;
  height: auto;
}
/* line 142, modules/_single.scss */
.image-grid img:nth-of-type(4n+4), .image-grid .grid-sizer:nth-of-type(4n+4) {
  margin-right: 0;
}
/* line 145, modules/_single.scss */
.image-grid img:nth-of-type(4n+5), .image-grid .grid-sizer:nth-of-type(4n+5) {
  clear: left;
}
@media only screen and (max-width: 950px) {
  /* line 136, modules/_single.scss */
  .image-grid img, .image-grid .grid-sizer {
    width: 32%;
    margin-right: 2%;
  }
  /* line 151, modules/_single.scss */
  .image-grid img:nth-of-type(4n+4), .image-grid .grid-sizer:nth-of-type(4n+4) {
    margin-right: 2%;
  }
  /* line 154, modules/_single.scss */
  .image-grid img:nth-of-type(4n+5), .image-grid .grid-sizer:nth-of-type(4n+5) {
    clear: none;
  }
  /* line 157, modules/_single.scss */
  .image-grid img:nth-of-type(3n+3), .image-grid .grid-sizer:nth-of-type(3n+3) {
    margin-right: 0;
  }
  /* line 160, modules/_single.scss */
  .image-grid img:nth-of-type(3n+4), .image-grid .grid-sizer:nth-of-type(3n+4) {
    clear: left;
  }
}
@media only screen and (max-width: 500px) {
  /* line 136, modules/_single.scss */
  .image-grid img, .image-grid .grid-sizer {
    width: 48.5%;
    margin-right: 3%;
  }
  /* line 167, modules/_single.scss */
  .image-grid img:nth-of-type(n), .image-grid .grid-sizer:nth-of-type(n) {
    margin-right: 3%;
  }
  /* line 170, modules/_single.scss */
  .image-grid img:nth-of-type(2n+2), .image-grid .grid-sizer:nth-of-type(2n+2) {
    margin-right: 0;
  }
  /* line 173, modules/_single.scss */
  .image-grid img:nth-of-type(3n+4), .image-grid .grid-sizer:nth-of-type(3n+4) {
    clear: none;
  }
  /* line 176, modules/_single.scss */
  .image-grid img:nth-of-type(2n+3), .image-grid .grid-sizer:nth-of-type(2n+3) {
    clear: left;
  }
}

/* line 186, modules/_single.scss */
.separation-rule {
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 22px;
  margin-top: 20px;
}

/* line 194, modules/_single.scss */
.presentation {
  display: inline-table;
}
/* line 196, modules/_single.scss */
.presentation h2 {
  font-size: 0.6875em;
  line-height: 1.6em;
  width: 20%;
  float: left;
  text-transform: uppercase;
}
@media only screen and (max-width: 950px) {
  /* line 196, modules/_single.scss */
  .presentation h2 {
    width: 32%;
  }
}
@media only screen and (max-width: 750px) {
  /* line 196, modules/_single.scss */
  .presentation h2 {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 210, modules/_single.scss */
.presentation .presentation__text {
  width: 75%;
  float: right;
  line-height: 1.5;
}
@media only screen and (min-width: 1300px) {
  /* line 210, modules/_single.scss */
  .presentation .presentation__text {
    width: 50%;
    margin-right: 25%;
  }
}
@media only screen and (max-width: 950px) {
  /* line 210, modules/_single.scss */
  .presentation .presentation__text {
    width: 66%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 750px) {
  /* line 210, modules/_single.scss */
  .presentation .presentation__text {
    width: 100%;
  }
}
/* line 226, modules/_single.scss */
.presentation .presentation__text.dl {
  margin-bottom: 5px;
}
/* line 229, modules/_single.scss */
.presentation .presentation__text.dl a {
  padding-bottom: 3px;
}
/* line 231, modules/_single.scss */
.presentation .presentation__text.dl a:hover {
  color: black;
  opacity: 0.4;
  border-bottom: 1px solid black;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

/* line 241, modules/_single.scss */
.past-exhibition {
  border-top: 1px solid gray;
  padding-top: 25px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
/* line 247, modules/_single.scss */
.past-exhibition .past-exhibition-single, .past-exhibition a .past-exhibition-single {
  width: 48.125%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  display: inline-table;
}
/* line 252, modules/_single.scss */
.past-exhibition .past-exhibition-single:hover, .past-exhibition a .past-exhibition-single:hover {
  opacity: 0.6;
}
/* line 255, modules/_single.scss */
.past-exhibition .past-exhibition-single:nth-of-type(2n+2), .past-exhibition a .past-exhibition-single:nth-of-type(2n+2) {
  margin-right: 0;
}
/* line 258, modules/_single.scss */
.past-exhibition .past-exhibition-single img, .past-exhibition a .past-exhibition-single img {
  width: 48.125%;
  margin-right: 2.5%;
  float: left;
}
@media only screen and (max-width: 500px) {
  /* line 258, modules/_single.scss */
  .past-exhibition .past-exhibition-single img, .past-exhibition a .past-exhibition-single img {
    display: none;
  }
}
/* line 266, modules/_single.scss */
.past-exhibition .past-exhibition-single .past-exhibition__text, .past-exhibition .past-exhibition-single a .past-exhibition, .past-exhibition a .past-exhibition-single .past-exhibition__text, .past-exhibition a .past-exhibition-single a .past-exhibition {
  width: 48.125%;
  float: left;
  color: black;
}
/* line 270, modules/_single.scss */
.past-exhibition .past-exhibition-single .past-exhibition__text .title__exhibition, .past-exhibition .past-exhibition-single a .past-exhibition .title__exhibition, .past-exhibition a .past-exhibition-single .past-exhibition__text .title__exhibition, .past-exhibition a .past-exhibition-single a .past-exhibition .title__exhibition {
  margin-bottom: 0;
}
@media only screen and (max-width: 950px) {
  /* line 247, modules/_single.scss */
  .past-exhibition .past-exhibition-single, .past-exhibition a .past-exhibition-single {
    width: 100%;
    margin-right: 0;
  }
  /* line 282, modules/_single.scss */
  .past-exhibition .past-exhibition-single img, .past-exhibition a .past-exhibition-single img {
    width: 32%;
    margin-right: 4%;
  }
  /* line 286, modules/_single.scss */
  .past-exhibition .past-exhibition-single .past-exhibition__text, .past-exhibition a .past-exhibition-single .past-exhibition__text {
    width: 64%;
  }
}

/* line 293, modules/_single.scss */
.image-grid.artist {
  width: 100%;
  border-top: none;
  padding-top: 0;
}
/* line 297, modules/_single.scss */
.image-grid.artist .single-artist {
  width: 18.4%;
  margin-bottom: 1%;
  margin-right: 2%;
  float: left;
}
/* line 302, modules/_single.scss */
.image-grid.artist .single-artist:hover {
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
/* line 306, modules/_single.scss */
.image-grid.artist .single-artist:nth-of-type(5n+4) {
  margin-right: 0;
}
/* line 309, modules/_single.scss */
.image-grid.artist .single-artist:nth-of-type(5n+5) {
  clear: left;
}
@media only screen and (max-width: 950px) {
  /* line 297, modules/_single.scss */
  .image-grid.artist .single-artist {
    width: 23.5%;
  }
  /* line 314, modules/_single.scss */
  .image-grid.artist .single-artist:nth-of-type(1n+1) {
    margin-right: 2%;
  }
  /* line 317, modules/_single.scss */
  .image-grid.artist .single-artist:nth-of-type(5n+5) {
    clear: none;
  }
  /* line 320, modules/_single.scss */
  .image-grid.artist .single-artist:nth-of-type(4n+3) {
    margin-right: 0;
  }
  /* line 323, modules/_single.scss */
  .image-grid.artist .single-artist:nth-of-type(4n+4) {
    clear: left;
  }
}
@media only screen and (max-width: 500px) {
  /* line 297, modules/_single.scss */
  .image-grid.artist .single-artist {
    width: 100%;
    margin-right: 0;
    font-size: 1.375em;
    line-height: 1.2em;
    font-family: 'rj_bold', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }
}
/* line 334, modules/_single.scss */
.image-grid.artist .single-artist img {
  width: 100%;
  float: left;
}
@media only screen and (max-width: 500px) {
  /* line 334, modules/_single.scss */
  .image-grid.artist .single-artist img {
    display: none;
  }
}
/* line 341, modules/_single.scss */
.image-grid.artist .single-artist p {
  margin-top: 8px;
  text-align: center;
  width: 100%;
  float: left;
  color: #323232;
}
@media only screen and (max-width: 500px) {
  /* line 341, modules/_single.scss */
  .image-grid.artist .single-artist p {
    text-align: left;
    margin-top: 3px;
  }
}

/* line 356, modules/_single.scss */
.minus-margin {
  margin-top: -20px;
}

/* line 362, modules/_single.scss */
.exhibition-list {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  /* line 364, modules/_single.scss */
  .exhibition-list:first-of-type {
    padding-top: 30px;
  }
}
/* line 369, modules/_single.scss */
.exhibition-list .single-exhibition {
  width: 100%;
  display: inline-table;
  margin-bottom: 2%;
}
@media only screen and (max-width: 500px) {
  /* line 369, modules/_single.scss */
  .exhibition-list .single-exhibition {
    margin-bottom: 4%;
  }
}
/* line 376, modules/_single.scss */
.exhibition-list .single-exhibition img {
  width: 23.125%;
  margin-right: 2%;
  float: left;
}
@media only screen and (max-width: 950px) {
  /* line 376, modules/_single.scss */
  .exhibition-list .single-exhibition img {
    width: 32%;
    margin-right: 4%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 376, modules/_single.scss */
  .exhibition-list .single-exhibition img {
    display: none;
  }
}
/* line 388, modules/_single.scss */
.exhibition-list .single-exhibition .past-exhibition__text, .exhibition-list .single-exhibition a .past-exhibition__text {
  float: left;
  display: block;
  max-width: 73%;
  color: black;
}
@media only screen and (max-width: 950px) {
  /* line 388, modules/_single.scss */
  .exhibition-list .single-exhibition .past-exhibition__text, .exhibition-list .single-exhibition a .past-exhibition__text {
    max-width: 48%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 388, modules/_single.scss */
  .exhibition-list .single-exhibition .past-exhibition__text, .exhibition-list .single-exhibition a .past-exhibition__text {
    max-width: 100%;
    padding-right: 5%;
  }
}
/* line 400, modules/_single.scss */
.exhibition-list .single-exhibition .past-exhibition__text p, .exhibition-list .single-exhibition a .past-exhibition__text p {
  margin-bottom: 0;
}
/* line 404, modules/_single.scss */
.exhibition-list .single-exhibition .title__artist {
  font-size: 1.125em;
  line-height: 1.22222em;
}

/* line 412, modules/_single.scss */
a .single-exhibition:hover {
  opacity: 0.6;
}

/* line 419, modules/_single.scss */
.exhibition-list.no-image .single-exhibition {
  margin-bottom: 25px;
}

/* line 424, modules/_single.scss */
.homepage_exhibition {
  width: 49%;
  float: left;
  margin-right: 2%;
}
@media only screen and (max-width: 500px) {
  /* line 424, modules/_single.scss */
  .homepage_exhibition {
    width: 100%;
    margin-right: 0;
  }
}
/* line 432, modules/_single.scss */
.homepage_exhibition:last-of-type {
  margin-right: 0;
}
@media only screen and (max-width: 500px) {
  /* line 432, modules/_single.scss */
  .homepage_exhibition:last-of-type {
    margin-top: 30px;
  }
}
/* line 438, modules/_single.scss */
.homepage_exhibition p {
  margin-bottom: 0;
}
/* line 441, modules/_single.scss */
.homepage_exhibition .title__group {
  margin-top: 10px;
}
/* line 444, modules/_single.scss */
.homepage_exhibition img {
  width: 100%;
  height: auto;
  position: relative;
}

/* line 451, modules/_single.scss */
.scroll-box {
  height: 21px;
  float: left;
  width: 80%;
}

@media only screen and (max-width: 500px) {
  /* line 457, modules/_single.scss */
  .separation-rule.not-mobile {
    display: none;
  }
}

/* line 463, modules/_single.scss */
.full-width {
  width: 100%;
  display: inline-table;
  margin-bottom: 10px;
}
/* line 467, modules/_single.scss */
.full-width p {
  line-height: 1.4;
}
/* line 470, modules/_single.scss */
.full-width a {
  color: #646464;
}

/* line 475, modules/_single.scss */
.contact {
  width: 57.5%;
  float: left;
  margin-right: 2.5%;
  border-top: 1px solid gray;
  padding-top: 25px;
  display: inline-block;
}
@media only screen and (max-width: 950px) {
  /* line 475, modules/_single.scss */
  .contact {
    width: 48.75%;
    margin-right: 1.25%;
    clear: both;
  }
}
@media only screen and (max-width: 750px) {
  /* line 475, modules/_single.scss */
  .contact {
    width: 100%;
    clear: both;
  }
}
/* line 491, modules/_single.scss */
.contact .presentation__text {
  width: 70%;
  float: left;
}
@media only screen and (max-width: 500px) {
  /* line 491, modules/_single.scss */
  .contact .presentation__text {
    width: 100%;
  }
}
/* line 499, modules/_single.scss */
.contact h2 {
  font-size: 0.6875em;
  line-height: 1.6em;
  width: 30%;
  float: left;
  text-transform: uppercase;
}
@media only screen and (max-width: 950px) {
  /* line 499, modules/_single.scss */
  .contact h2 {
    width: 32%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 499, modules/_single.scss */
  .contact h2 {
    width: 100%;
    margin-bottom: 5px;
  }
}

/* line 517, modules/_single.scss */
.mails {
  width: 40%;
  border-top: 1px solid gray;
  padding-top: 25px;
  display: inline-block;
}
@media only screen and (max-width: 950px) {
  /* line 517, modules/_single.scss */
  .mails {
    width: 48.75%;
  }
}
@media only screen and (max-width: 750px) {
  /* line 517, modules/_single.scss */
  .mails {
    width: 100%;
    clear: both;
  }
}

/* line 531, modules/_single.scss */
.var {
  margin-top: -1px;
  margin-bottom: 18px;
}
/* line 535, modules/_single.scss */
.var a {
  color: #646464;
}

/* line 544, modules/_single.scss */
input {
  font-size: 12px;
  width: 38%;
}
/* line 548, modules/_single.scss */
input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #c8c8c8;
}

/* line 555, modules/_single.scss */
.btn {
  font-size: 12px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 0;
}

/* line 572, modules/_single.scss */
#info_menu:after {
  content: "informations";
}
@media only screen and (max-width: 500px) {
  /* line 572, modules/_single.scss */
  #info_menu:after {
    content: "infos";
  }
}

/* line 580, modules/_single.scss */
.presentation__wrap {
  display: inline-table;
  width: 100%;
  margin-bottom: 15px;
}
/* line 584, modules/_single.scss */
.presentation__wrap:last-of-type {
  margin-bottom: 0;
}

/* line 590, modules/_single.scss */
a .monospaced {
  font-weight: normal;
}

/* line 595, modules/_single.scss */
.group_artist--col {
  width: 100%;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  font-size: 1.125em;
  line-height: 1.22222em;
}
@media only screen and (max-width: 950px) {
  /* line 595, modules/_single.scss */
  .group_artist--col {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 750px) {
  /* line 595, modules/_single.scss */
  .group_artist--col {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
/* line 613, modules/_single.scss */
.group_artist--col a:after {
  content: " •";
  margin-left: 5px;
}

@media print {
  /* line 6, modules/_print.scss */
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
