{% extends "admin.html" %}
{% block title %}
    Gallery info form
{% endblock %}

{% block body %}
<div class="col-md-8">
  <h3>edit gallery staff members</h3>
    <ul class="list-group">
        {% for name in teammember %}
            <li class="list-group-item row">
              <div class="col-xs-8">
                {{ name.name }} // {{ name.slug }}
              </div>
              <div class="col-xs-4 text-right">
                  <a class="btn btn-primary btn-sm" href="/admin/edit-gallery-teammembers/{{ name._id }}">edit</a>
                  <a class="btn btn-danger btn-sm" href="/admin/delete-gallery-teammembers/{{ name._id }}">delete</a>
              </div>
            </li>
        {% endfor %}
    </ul>

  <h3>add team member</h3>
  {% include 'admin/gallery/teammembers/galleryTeamMemberForm.html' %}
</div>
{% endblock %}
